<div style="width: 1200px; margin: 60px auto; padding-top:40px; ">
    <div class="jdSetting" style="width: 500px; float: right; background: #e9d9cb">
        <h1 class="jdTit">已联房间</h1>
        <div class="alRoomEdit" ng-repeat="r in checkInGroupList">
            <ul class="alRoomul checkInRoom">
                <a class="roomID" id="{{r2.roomId}}" ng-repeat="r2 in roomList | room: ['散客房']:'全部':r.groupAccount"
                   ng-click="chooseRoom(r,r2)">{{r2.roomId}}</a>
            </ul>
        </div>
        <div class="button" style="border: none;margin-top:0px; width: 100%; float: left">
            <input type="button" value="删除" ng-click="unBindRoomAction()">
        </div>
    </div>

    <div class="jdSetting" style="width: 520px; float: left">
        <h1 class="jdTit">房间列表</h1>
        <div class="checkInRoom" sz-alert>
            <a class="roomID {{r.hover}}" ng-repeat="r in roomShowList" ng-click="addOrDeleteRoomId(r,$event.shiftKey)">{{r.roomId}}</a>
            <div class="clear"></div>
            <div style="line-height: 30px; height: 30px;">
                <div class="tswz">*注：单击选择联房房间，再次单击取消联房房间</div>
            </div>
            <div style="line-height: 30px; height: 30px;">
                <input type="text" ng-model="remark" placeholder="备注信息录入">
            </div>
        </div>
        <dl class="button" style="border: none; margin: 0px; padding: 0px;">
            <button ng-click="joinRoomAction()" sz-permission="联房">确认联房</button>
            <input type="button" ng-click="clearList()" value="清空选择" class="kong">
        </dl>
    </div>
</div>
