<div style="width: 1168px; margin: 0px auto; padding-top:100px">
    <div class="jdSetting">
        <h1 class="jdTit">商品零售</h1>
        <div class="snackbox fr" style=" width:500px;margin-top: 40px; margin-right: 18px;">
            <h1>已选商品</h1>
            <div class="tsRightDiv">
                <sz-table fields="chooseItemFields" items="chooseItemList" button="add"></sz-table>
            </div>
            <table class="tableBorderfff" style="width: 480px; margin-left: 10px">
                <tr>
                    <td style="width: 100px; text-align: right">姓名：</td>
                    <td><input ng-model="name" type="text" style="width: 80px"></td>
                    <td style="text-align: right"><span class="red">合计：</span></td>
                    <td style="width: 150px;"><span class="red">￥{{calculateMoney(chooseItemList)}}</span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <sz-pay></sz-pay>
                    </td>
                </tr>
            </table>
        </div>
        <div class="snackbox fl" style="width: 500px; margin-left: 18px;">
            <sz-table fields="roomShopFields" head="true" button="add update delete"
                      row-click="chooseItem(chooseItemList,d,num)" search-condition="condition"></sz-table>
            <input value="数量" type="text" placeholder="选择前请在此输入数量！" ng-model="num" style="width: 180px">
        </div>
        <div class="clear"></div>
        <dl class="button">
            <input value="保存" type="button" ng-click="retailIn()">
        </dl>
    </div>

</div>

