<div class="tanchuang huang" ng-if="pop" style="width: 500px; left: 25%" drag ng-controller="szPopChooseController">
    <dl class="tctit"><h1>请选择</h1></dl>
    <div class="qxBox">
        <div class="tableBorderaaa" style="padding: 15px; padding-bottom: 0px; width: 460px">
            <dl style="margin: 0px; border: none; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;">
                <dd style="margin-left: 0px!important">
                    <span ng-repeat="r in chooseList"><input type="checkbox" ng-model="r.check"> {{r.name}}</span>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>

    <div class="button">
        <button ng-click="confirm('szPopChoose')">确认</button>
    </div>
    <div class="closeBox" ng-click="closePop('szPopChoose')">+</div>
</div>