<ion-view id="realState" title="餐饮盘态" ng-controller="realStateController">
    <ion-content padding="true" class="has-header" ng-controller="restaurantController">
        <button class="button stable-border cybutton" ng-repeat="r in pointOfSaleList" ng-click="choosePointOfSale(r.firstPointOfSale)" style="margin-right: 20px;">
            {{r.firstPointOfSale}}
        </button>
        <div class="toptitle">餐饮盘态</div>
        <ion-item class="item-divider " id="roomState-list-item-divider1">
            <p>空桌：<span class="red">5</span></p>
            <p>就餐：<span class="red">5</span></p>
            <p>预订：<span class="red">5</span></p>
        </ion-item>
            <ion-list class=" ">
                <ion-item class="item-icon-left  " ng-repeat="r in deskList">
                    <i class="{{r.deskIn?'icon-jc':'icon-hp'}}"></i>
                    <div style="float: left; margin-right: 10px">{{r.name}} <span ng-show="r.deskIn">就餐</span> <span ng-show="!r.deskIn">空桌</span> |</div>
                    <div style="float: left; position: relative">
                        <i class="icon-d2" ng-show="r.deskBookList.length>0">订</i>
                    </div>
                </ion-item>
            </ion-list>

    </ion-content>
</ion-view>




