<div class="tanchuang" ng-controller="changeRoomController" ng-if="pop" sz-pop-top drag>
    <dl class="tctit"><h1>客人换房</h1></dl>
    <div class="tcDiv">
        <dl class="tcTopName">
            当前房间：<span ng-bind="currentRoom.roomId" style="margin-right: 5px;"></span>
            当前房价：<span ng-bind="currentRoom.checkIn.finalRoomPrice" style="margin-right: 5px;"></span>
            当前协议：<span ng-bind="currentRoom.checkIn.protocol" style="margin-right: 5px;"></span>
            <p ng-show="editableRoomPrice" style="display: inline">换后房价：<input type="text" ng-model="targetRoomPrice" style="float: none; width: 50px;"></p>
        </dl>
        <div class="tableBordernone" style="width:920px;padding: 10px 20px 20px 20px">
            <div class="canUseRoom">
                <h1 class="curTit">可用房间</h1>
                <div class="checkInRoom">
                    <a ng-repeat="r in roomList" ng-click="submitChangeRoom(r)" class="roomIdBox"><b>{{r.roomId}}</b><br>{{r.category}}</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="closeBox" ng-click="closePopRefresh()">+</div>
    <div class="drig" drag-handle></div>
</div>