<div ng-controller="cleanRoomController" ng-if="pop">
    <div class="littlePop" drag>
        <div class="littlePopBox">
            <h1>打扫确认</h1>
            <p class="tagp" style="width: 200px; margin-left: 50px;"><span>房号：</span><b ng-repeat="r in roomList">{{r.roomId}}</b></p>
            <p class="tagp" style="margin-left: 50px;"><span>操作员：</span><input sz-select="userList" type="text" ng-model="userId" style="float: none; width: 100px;"></p>
            <div class="clear"></div>
            <button ng-click="cleanRoom()">确认</button>
        </div>
        <div class="closeBox" ng-click="closePop('cleanRoom')">+</div>
        <div class="drig" drag-handle></div>
    </div>
</div>
