<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../angular.js"></script>
    <script>
        angular.module('app',[])
                .service('ser',function () {
                    var scopeMap = {};//弹窗对象
                    return {
                        init: function (name, scope) {
                            scopeMap[name] = scope;
                        },
                        pop: function (name) {
                            scopeMap[name].pop = true;
                        },
                        close:function (name) {
                            scopeMap[name].pop = false;
                        }
                    }
                })
                .directive('sz',function () {
                    return{
                        restrict:'E',
                        scope:{},
                        controller:function ($scope,ser) {
                            $scope.pop=false;
                            this.init=function (name) {
                                ser.init(name,$scope);
                            }
                        },
                        template:'<div ng-controller="test" ng-if="pop"><button ng-click="click()">close</button></div>',
                        link:function (scope, ele, att, ctr) {
                            scope.b='b';
                            ctr.init('a');
                        }
                    }
                })
                .controller('all',function ($scope,ser) {
                    $scope.click=function () {
                        ser.pop('a');
                    };
                    $scope.a='all';
                })
                .controller('test',function ($scope,ser) {
                    $scope.click=function () {
                        ser.close('a');
                    };
                    $scope.a='a';
                })
    </script>
</head>
<body ng-controller="all">
<sz></sz>
<div>
    <button ng-click="click()">{{a}}</button>
</div>
</body>
</html>