.mainSaunaState { list-style-type: none; margin-left: 20px; padding-bottom: 30px; margin-top: 10px;}
.snBox { width: 80px; height:60px; float: left; margin-right:10px; margin-bottom: 10px; position: relative; cursor: pointer; overflow: hidden; border:2px solid #fff;
    -webkit-border-radius:40px / 30px;
    -moz-border-radius:40px / 30px;
    border-radius:40px / 30px;
    -webkit-box-shadow: 0px 0px 3px #666;
    -moz-box-shadow: 0px 0px 3px #666;
    box-shadow: 0px 0px 3px #666;}
.snBox.hover:after {
    width: 80px; height:60px;
    background-color:rgba(0,0,0,0.5);
    -webkit-border-radius:40px / 30px;
    -moz-border-radius:40px / 30px;
    border-radius:40px / 30px;
    position:absolute;
    content: '';
    z-index: 3;
    top:0px; left: 0px;

}
.snBox li span,.snBox i span  { display: none}
.snBox .shMan { width: 80px; height: 60px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#57c8e9;
    -webkit-border-radius:40px / 30px;
    -moz-border-radius:40px / 30px;
    border-radius:40px / 30px;}
.snBox .shWomen { width: 80px; height: 60px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#ff8ec9;
    -webkit-border-radius:40px / 30px;
    -moz-border-radius:40px / 30px;
    border-radius:40px / 30px;}
.snBox .shUseWomen{ width: 20px; height: 20px; position: absolute; z-index: 4; left: 30px; top:35px; background: url("../../images/man.png") no-repeat 0px 0px; background-size: 40px;}
.snBox .shUseMan { width: 20px; height: 20px; position: absolute; z-index: 4; left: 30px; top:35px; background: url("../../images/man.png") no-repeat -20px 0px; background-size: 40px;}
.snBox .shNumber { width: 80px; height: 30px; font-size: 20px; line-height: 30px; left: 0px; top: 5px; color: #fff; text-align: center; position: absolute; z-index: 4;}
.snBox .icon-wrench {width: 20px; height: 20px; position: absolute; z-index: 4; left: 30px; top:35px; font-size: 20px; color: #000;}

@media screen and ( max-width: 1366px) {
    .mainSaunaState { margin-left: 10px;}
    .snBox { width: 54px; height:42px; float: left; margin-right:8px; margin-bottom: 5px; position: relative; cursor: pointer; overflow: hidden; border:2px solid #fff;
        -webkit-border-radius:27px / 21px;
        -moz-border-radius:27px / 21px;
        border-radius:27px / 21px;
        -webkit-box-shadow: 0px 0px 2px #666;
        -moz-box-shadow: 0px 0px 2px #666;
        box-shadow: 0px 0px 2px #666;}
    .snBox .shMan { width: 54px; height: 42px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#57c8e9;
        -webkit-border-radius:27px / 21px;
        -moz-border-radius:27px / 21px;
        border-radius:27px / 21px;}
    .snBox .shWomen { width: 54px; height: 42px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#ff8ec9;
        -webkit-border-radius:27px / 21px;
        -moz-border-radius:27px / 21px;
        border-radius:27px / 21px;}
    .snBox .shUseWomen{ width: 18px; height: 18px; position: absolute; z-index: 4; left: 20px; top:22px; background-size: 35px;}
    .snBox .shUseMan { width: 18px; height: 18px; position: absolute; z-index: 4; left: 20px; top:22px; background-size: 35px;}
    .snBox .shNumber { width: 54px; height: 20px; font-size: 16px; line-height: 20px; left: 0px; top: 3px; color: #fff; text-align: center; position: absolute; z-index: 4;}
    .snBox .icon-wrench {width: 18px; height: 18px; position: absolute; z-index: 4; left: 20px; top:22px; font-size: 18px; color: #000;}

}
@media screen and (max-width: 1280px){
    .snBox { width: 46px; height:40px; float: left; margin-right:8px; margin-bottom: 8px; position: relative; cursor: pointer; overflow: hidden; border:2px solid #fff;
        -webkit-border-radius:25px / 20px;
        -moz-border-radius:25px / 20px;
        border-radius:25px / 20px;
        -webkit-box-shadow: 0px 0px 2px #666;
        -moz-box-shadow: 0px 0px 2px #666;
        box-shadow: 0px 0px 2px #666;}
    .snBox .shMan { width: 46px; height: 40px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#57c8e9;
        -webkit-border-radius:25px / 20px;
        -moz-border-radius:25px / 20px;
        border-radius:25px / 20px;}
    .snBox .shWomen { width: 46px; height: 40px; position: absolute; z-index: 2; left: 0px; top:0px; background-color:#ff8ec9;
        -webkit-border-radius:25px / 20px;
        -moz-border-radius:25px / 20px;
        border-radius:25px / 20px;}
    .snBox .shUseWomen{ width: 16px; height: 16px; position: absolute; z-index: 4; left: 17px; top:22px; background-size: 30px;}
    .snBox .shUseMan { width: 16px; height: 16px; position: absolute; z-index: 4; left: 17px; top:22px; background-size: 30px;background-position:-16px 0px;}
    .snBox .shNumber { width: 46px; height: 18px; font-size: 14px; line-height: 18px; left: 0px; top: 3px; color: #fff; text-align: center; position: absolute; z-index: 4;}
    .snBox .icon-wrench {width: 18px; height: 18px; position: absolute; z-index: 4; left: 17px; top:22px; font-size: 16px; color: #000;}
}

