<div ng-controller="modifyController" ng-if="pop">
    <div class="littlePop" drag>
        <div class="littlePopBox">
            <h1>修改密码</h1>
            <p class="lan">当前用户：{{user.userId}}</p>
            <p><input type="text" ng-model="oldPassword" placeholder="请输入原密码"style="float: none; width: 200px;"></p>
            <p><input type="text" ng-model="newPassword" placeholder="请输入新密码"style="float: none; width: 200px;" ng-show="oldPassword==user.password" sz-not-null></p>
            <p><input type="text" ng-model="newPasswordConfirm" placeholder="确认新密码"style="float: none; width: 200px;" ng-show="oldPassword==user.password" sz-not-null></p>
            <p><button ng-click="modifyPassword()" ng-disable="newPasswordConfirm==newPassword" sz-submit>确认</button></p>
       </div>
        <div class="closeBox" ng-click="closePop('modify')">+</div>
        <div class="drig" drag-handle></div>
    </div>
</div>