<div id="content" class="ddDing">
    <sz-tab>
        <sz-pane title="客房销售统计">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="roomCategorySaleReport(beginTime,endTime)" value="预览"></li>
                <li>REVPER=(全日房费+凌晨房费/)(参与统计客房总数)</li>
            </div>
            <sz-table fields="roomCategorySaleFields" items="roomCategorySaleList" button="add delete update" print="客房销售统计" ng-if="roomCategorySaleList" query-message="queryMessage" remark="roomCategorySaleRemark" items-per-page="20"></sz-table>
        </sz-pane>
        <sz-pane title="发生与结算">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="debtAndPayReport(beginTime,endTime)" value="预览"></li>
            </div>
            <sz-table fields="debtAndPayFields" items="debtAndPayList" button="add delete update" print="发生额与结算款分析" ng-if="debtAndPayList" query-message="debtAndPayQueryMessage" remark="debtAndPayRemark" items-per-page="20"></sz-table>
        </sz-pane>
        <sz-pane title="客房经营分析" init="setShowRoomParseReportFalse()">
            <div ng-show="showRoomParseReport" ag-grid="roomParseGridOptions" class="ag-fresh" style="height: 500px;"></div>
            <div class="tableDiv" ng-show="!showRoomParseReport">
                <ul>
                    <li>
                        日期：
                        <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                    </li>
                    <li>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="range" uib-btn-radio="'月'" uncheckable>月</label>
                            <label class="btn btn-primary" ng-model="range" uib-btn-radio="'季'" uncheckable>季</label>
                            <label class="btn btn-primary" ng-model="range" uib-btn-radio="'年'" uncheckable>年</label>
                        </div>
                    </li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="RoomParseReport(beginTime,range)" value="预览"></li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="exportAgGrid(roomParseGridOptions)" value="导出xls"></li>
                </ul>
            </div>
        </sz-pane>
        <sz-pane title="客源人数分析">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="guestSourceParseReport(beginTime,endTime)" value="预览"><input type="button" value="统计图查看" sz-height></li>
            </div>
            <div style="width: 600px">
                <sz-table fields="guestSourceParseFields" items="guestSourceParseList" button="add delete update" print="客源人数分析" ng-if="guestSourceParseList" query-message="queryMessage" remark="guestSourceParseRemark"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="客源房类分析">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="guestSourceRoomCategoryParseReport(beginTime,endTime)" value="预览"></li>
            </div>
            <div style="width: 600px">
                <sz-table fields="guestSourceRoomCategoryParseFields" items="guestSourceRoomCategoryParseList" button="add delete update" print="客源房类分析" ng-if="guestSourceRoomCategoryParseList" query-message="queryMessage"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位预订到达率">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="companyBookParseReport(beginTime,endTime)" value="预览"></li>
                <li>说明：以订单录入时间为准</li>
            </div>
            <div style="width: 600px">
                <sz-table fields="companyBookParseFields" items="companyBookParseList" button="add delete update" print="单位预订到达率" ng-if="companyBookParseList" query-message="queryMessage"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位销售员汇总">
            <div class="tableDiv">
                <ul>
                    <li>销售员：
                        <select style="width: 105px;" class="tableSelect" ng-model="saleMan" ng-options="x for x in saleManList"></select>
                    </li>
                    </li>
                    <li>
                        时间：
                        <input ng-model="beginTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li style="margin-left: 0px;">至</li>
                    <li>
                        <input ng-model="endTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="saleManReport(saleMan,beginTime,endTime)" value="预览"></li>
                </ul>
                <sz-table ng-if="saleManReportList" fields="saleManReportFields" items="saleManReportList" button="add update delete" items-per-page="20" print="单位销售员挂账汇总" query-message="queryMessageSaleManReport"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位欠款分析">
            <div class="tableDiv">
                <ul>
                    <li>
                        时间：
                        <input ng-model="beginTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li style="margin-left: 0px;">至</li>
                    <li>
                        <input ng-model="endTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li>说明：分单的单位账优先按照房费统计</li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="companyDebtReport(beginTime,endTime)" value="预览"></li>
                </ul>
                <sz-table ng-if="companyDebtReportList" fields="companyDebtReportFields" items="companyDebtReportList" button="add update delete" items-per-page="2000" print="单位欠款分析" query-message="queryMessageCompanyDebtReport" item-click="companyDebtReportItemClick(item,id)"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位挂账明细">
            <sz-table fields="companyDebtRichFields" head="true" deep-search="true" button="add update delete" items-per-page="20" print="单位挂账明细"></sz-table>
        </sz-pane>
        <!--<sz-pane title="预订信息-餐饮"></sz-pane>
        <sz-pane title="预订信息-餐饮"></sz-pane>-->
        <sz-pane title="全店收入分析">
            <div class="tableDiv">
                <li>
                    日期：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="hotelParseReport(beginTime)" value="预览"></li>
                <li>说明：统计的是当日发生额</li>
            </div>
            <sz-table fields="hotelParseFields" items="hotelParseList" button="add delete update" print="全店收入" ng-init="initHotelParse()" item-click="hotelParseItemClick(item,id)"></sz-table>
        </sz-pane>
        <sz-pane title="房扫人员工作计量">
            <div class="tableDiv">
                <li>
                    时间：
                    <input type="text" ng-model="beginTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li style="margin-left: 0px;">至</li>
                <li>
                    <input type="text" ng-model="endTime" uib-datepicker-popup class="tableTime">
                    <div class="timeSfm" style="float: right">
                        <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                        show-seconds="true"></uib-timepicker>
                    </div>
                </li>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="cleanRoomParse(beginTime,endTime)" value="预览"></li>
            </div>
            <div style="width: 600px">
                <sz-table fields="cleanRoomFields" items="cleanRoomList" button="add delete update" print="房扫人员工作计量" ng-if="cleanRoomList" query-message="queryMessage"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="库存盘点">
            <sz-table fields="storageRemainFields" head="true" deep-search="true" button="add delete update" print="库存盘点"></sz-table>
        </sz-pane>
    </sz-tab>
    <div class="chartBox">
        <div id="szChart" style="height: 700px;"></div>
        <div class="chartButton" sz-height>收回</div>
    </div>

</div>
<sz-pop-up name="manager/popCanvas/popCanvas.html"></sz-pop-up>
<sz-pop-up name="manager/dataParse/popExchangeUser/exchangeUserJQPop.html"></sz-pop-up>
<sz-pop-up name="manager/dataParse/popExchangeUser/exchangeUserCKPop.html"></sz-pop-up>
<sz-pop-up name="manager/dataParse/popCompanyGenerate/popCompanyGenerate.html"></sz-pop-up>
<sz-pop-up name="reception/companyDebt/popCompanyDebt/popCompanyDebt.html"></sz-pop-up>