<div id="content" class="ddDing">
    <sz-tab>
        <sz-pane title="应收应付">
            <sz-table fields="companyFields" row-click="chooseCompany(d)" search-condition="condition" outer-refresh="lordInit(d)" head="true" title="点击查看账务明细" select-list="companySelectList" button="{{editable?false:'add update delete'}}" right-click="{{editable?'rightClickCompany':''}}" deep-search="true"></sz-table>
            <div class="clear"></div>
            <div class="szSheet">
                <sz-tab>
                    <sz-pane title="账务明细">
                        <sz-table fields="companyDebtFields" button="add update delete" search-condition="initConditionCompany" head="true" right-click="rightClickCompanyDebt" deep-search="true"></sz-table>
                    </sz-pane>
                    <sz-pane title="结算明细">
                        <sz-table fields="companyPayFields" button="add update delete" search-condition="initConditionCompanyPay" head="true" row-click="chooseCompanyPay(d)" deep-search="true"></sz-table>
                    </sz-pane>
                </sz-tab>
            </div>
            <div class="szSheet">
                <sz-tab>
                    <sz-pane title="账务历史">
                        <sz-table fields="companyDebtHistoryFields" button="add update delete" search-condition="initConditionCompanyDebtHistory" head="true" right-click="rightClickCompanyDebt" deep-search="true"></sz-table>
                    </sz-pane>
                </sz-tab>
            </div>
        </sz-pane>
        <sz-pane title="单位签单人">
            <div style="width: 600px">
                <sz-table fields="companyLordFields" select-list="companyLordSelectList" button="{{editable?false:'add update delete'}}"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="宴请签单人">
            <div style="width: 600px">
                <sz-table fields="freemanFields" row-click="chooseFreeman(d)" head="true" title="点击查看账务明细" button="{{editable?false:'add update delete'}}"></sz-table>
            </div>
            <div class="clear"></div>
            <div class="detailTable">
                <h1>宴请明细</h1>
                <sz-table fields="freeDetailFields" button="add update delete" search-condition="initConditionFreeman" head="true"
                          right-click="rightClickCompanyDebt"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位挂账明细">
            <sz-table fields="companyDebtRichFields" head="true" deep-search="true" button="add update delete" pick-able="true" items-per-page="20" print="单位挂账明细" get-item="getItem(f)"></sz-table>
            <ul>
                <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="companyPayThis()" value="结算已选明细"></li>
            </ul>
        </sz-pane>
        <sz-pane title="单位未结汇总" init="setInit()">
            <div ng-show="showCompanySummaryReport" ag-grid="companySummaryGridOptions" class="ag-fresh" style="height: 500px;"></div>
            <div class="tableDiv" ng-show="!showCompanySummaryReport">
                <ul>
                    <li>模块：<select style="width: 105px;" class="tableSelect" ng-model="module" ng-options="x for x in ['全部','接待','餐饮']" ng-init="module='全部'">
                    </select></li>
                    <li>单位名称：<input ng-model="company" type="text" style="float: none; width: 80px;">
                    </li>
                    <li>
                        时间：
                        <input ng-model="beginTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="beginTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li style="margin-left: 0px;">至</li>
                    <li>
                        <input ng-model="endTime" uib-datepicker-popup type="text" class="tableTime">
                        <div class="timeSfm" style="float: right">
                            <uib-timepicker ng-model="endTime" show-spinners="false" show-meridian="false"
                                            show-seconds="true"></uib-timepicker>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="range" uib-btn-radio="'挂'" uncheckable>挂账时间</label>
                            <label class="btn btn-primary" ng-model="range" uib-btn-radio="'发'" uncheckable>发生时间</label>
                        </div>
                    </li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="companySummaryReport(module,company,beginTime,endTime)" value="预览"></li>
                    <li class="button" style="border: 0px; margin-top: 7px; padding: 0px;"><input type="button" ng-click="RoomParseReportExport()" value="导出xls"></li>
                </ul>
            </div>
        </sz-pane>
    </sz-tab>
    <!-- 弹出界面 -->
    <sz-pop-up refresh="refresh()" name="reception/companyDebt/companyPay/companyPay.html"></sz-pop-up>
    <sz-pop-up refresh="refresh()" name="reception/companyDebt/companyDeposit/companyDeposit.html"></sz-pop-up>
</div>
<sz-pop-up name="reception/debtDetail/debtDetail.html"></sz-pop-up>
<sz-pop-up name="restaurant/deskDetailHistory/deskDetailHistory.html"></sz-pop-up>
<sz-pop-up name="reception/companyDebt/rightClickCompanyDebt/rightClickCompanyDebt.html" back="white"></sz-pop-up>
<sz-pop-up name="reception/rightClickCompany/rightClickCompany.html" back="white"></sz-pop-up>
<sz-pop-up no-show="noShow" name="reception/otherConsume/otherConsume.html" back="top"></sz-pop-up>