<div id="content" class="ddDing">
    <sz-tab>
        <sz-pane title="应收应付">
            <sz-table fields="companyFields" row-click="chooseCompany(d)" search-condition="condition" outer-refresh="lordInit(d)" head="true" title="点击查看账务明细" select-list="companySelectList" button="{{editable?false:'add update delete'}}"></sz-table>
            <div class="button fl" style="margin: 0px; border: none" ng-show="editable">
                <input type="button" value="结算" ng-click="pop('companyPay')">
                <input type="button" value="预付" ng-click="pop('companyDeposit')">
            </div>
            <div class="clear"></div>
            <div class="detailTable">
                <h1>账务明细</h1>
                <sz-table fields="companyDebtFields" button="add update delete" search-condition="initConditionCompany" head="true" right-click="rightClickDebt"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="单位签单人">
            <div style="width: 600px">
                <sz-table fields="companyLordFields" select-list="companyLordSelectList" button="{{editable?false:'add update delete'}}"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="宴请签单人">
            <div style="width: 600px">
                <sz-table fields="freemanFields" row-click="chooseFreeman(d)" head="true" title="点击查看账务明细" button="{{editable?false:'add update delete'}}"></sz-table>
            </div>
            <div class="clear"></div>
            <div class="detailTable">
                <h1>宴请明细</h1>
                <sz-table fields="freeDetailFields" button="add update delete" search-condition="initConditionFreeman" head="true"
                          right-click="rightClickDebt"></sz-table>
            </div>
        </sz-pane>
    </sz-tab>
    <!-- 弹出界面 -->
    <sz-pop-up refresh="refresh()" name="reception/companyDebt/companyPay/companyPay.html"></sz-pop-up>
    <sz-pop-up refresh="refresh()" name="reception/companyDebt/companyDeposit/companyDeposit.html"></sz-pop-up>
</div>
<sz-pop-up name="reception/debtDetail/debtDetail.html"></sz-pop-up>
<sz-pop-up name="reception/rightClickDebt/rightClickDebt.html" back="white"></sz-pop-up>
