<div id="content" class="ddDing">
    <sz-tab>
        <sz-pane title="手动夜审">
            <div class="button fl" style="border: none; margin: 0px;">
                <button ng-click="manualNightAction()" sz-permission="手动夜审">开始</button>
            </div>
        </sz-pane>
        <sz-pane title="客房账单叫回">
            <div class="tableBox">
                <sz-table fields="debtPayFields" head="true" deep-search="true" button="add update delete" max-num="200" right-click="rightClickDebt"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="餐饮账单叫回">
            <sz-table fields="deskInHistoryFields" items-per-page="20" head="true" deep-search="true" button="add update delete" right-click="rightClickDesk" search-condition="deskInHistoryCondition"></sz-table>
        </sz-pane>
        <sz-pane title="自助餐冲减">
            <sz-table fields="deskInHistoryFields" items="buffetMinusList" button="add delete" head="true" deep-search="true" init-state="update"></sz-table>
            <div class="button fl" style="margin: 0px; border: none;">
                <button ng-click="submit()">确认</button>
            </div>
        </sz-pane>
    </sz-tab>
</div>
<sz-pop-up name="reception/rightClickDebt/rightClickDebt.html" back="white"></sz-pop-up>
<sz-pop-up name="reception/debtDetail/debtDetail.html"></sz-pop-up>
<sz-pop-up name="restaurant/rightClickDesk/rightClickDesk.html" back="white"></sz-pop-up>
<sz-pop-up name="restaurant/deskDetailHistory/deskDetailHistory.html"></sz-pop-up>
<sz-pop-up name="restaurant/buffet/buffetMinus/buffetMinus.html"></sz-pop-up>