<ion-view title="经理查询-数据分析" id="dataParse">
    <ion-content class="padding" ng-controller="dataParseController">
        <div class="blank30"></div>
        <div class="search">
             时间：<br>
              <input ng-model="beginTime" uib-datepicker-popup type="text" name="beginTime"
                                class="tableTime inputInline"></ion-item>
            至
             <input ng-model="endTime" uib-datepicker-popup type="text" name="endTime"
                        class="tableTime inputInline">
        </div>
        <div class="blank30"></div>
        <ion-list class="mbutBox">
            <ion-item class="button mbut" ng-click="roomCategorySaleReport(beginTime,endTime)">
                <i class="ion-stats-bars"></i>
                客房销售统计
                <sz-table fields="roomCategorySaleFields" items="roomCategorySaleList" button="add delete update" print="客房销售统计" ng-if="roomCategorySaleList" query-message="queryMessage" print-now="true"></sz-table>
            </ion-item>
            <ion-item class="button mbut" ng-click="guestSourceParseReport(beginTime,endTime)">
                <i class="ion-connection-bars"></i>
                客源分析统计
                <sz-table fields="guestSourceParseFields" items="guestSourceParseList" button="add delete update" print="客源分析统计" ng-if="guestSourceParseList" query-message="queryMessage" print-now="true"></sz-table>
            </ion-item>
            <ion-item class="button mbut" ng-click="companyBookParseReport(beginTime,endTime)">
                <i class="ion-pie-graph"></i>
                单位预订到达率
                <sz-table fields="companyBookParseFields" items="companyBookParseList" button="add delete update" print="单位预订到达率" ng-if="companyBookParseList" query-message="queryMessage" print-now="true"></sz-table>
            </ion-item>
            <ion-item class="button mbut" ng-click="hotelParseShow=!hotelParseShow">
                <i class="ion-arrow-graph-up-right"></i>
                全店收入分析
                <sz-table fields="hotelParseFields" items="hotelParseList" button="add delete update" print="全店收入" ng-init="initHotelParse()" item-click="hotelParseItemClick(item,id)" ng-if="hotelParseShow" print-now="true"></sz-table>
            </ion-item>

            <ion-item class="button mbut" ng-click="cleanRoomParse(beginTime,endTime)">
                <i class="ion-clipboard"></i>
                房扫人员工作计量
                <sz-table fields="cleanRoomFields" items="cleanRoomList" button="add delete update" print="房扫人员工作计量" ng-if="cleanRoomList" query-message="queryMessage" print-now="true"></sz-table>
            </ion-item>
            <ion-item class="button mbut">
                <i class="ion-archive"></i>
                库存盘点
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
