.loginTopBox { width: 100%; height: 40%; z-index: 6; position: relative; background-image: url("../../images/topbg.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center top;}
.picbg { width: 100%; height: 60%; z-index: 8; position: relative; background-image: url("../../images/loginpic.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center bottom;}

.logobox { width: 400px; height: 50px; margin: 0px auto; z-index: 7; position: absolute;top: 70px; left: 50%; margin-left: -200px; padding-top: 80px;
    text-align: center; font-size: 34px; color: #fff; background: url("../../images/logodl.png") no-repeat center top; background-size: 60px;}
/*.logobox { width: 320px; height: 80px; line-height: 80px; margin: 0px auto; z-index: 7; position: absolute;top: 100px; left: 50%; margin-left: -200px; padding-left: 70px;
    text-align: center; font-size: 34px; color: #fff; background: url("logo.png") no-repeat 20px; background-size: 60px;}*/
.loginbox { width: 400px; height: 300px; background: #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -200px;
    z-index: 9;
}
.loginboxbg { width: 430px; height:330px; background: rgba(255,255,255,0.3); position: absolute; z-index: 7; top:30%; margin-top: -15px; left: 50%; margin-left: -215px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.loginbox .logintit { width: 100%; margin: 0px; padding: 0px; height: 60px; line-height: 60px; text-align: center; font-size: 25px; color: #666; margin-top: 15px;}
.loginbox .inputbox { width: 300px; height: 130px; margin: 0px auto; position: relative}
.loginbox .inputbox:after { content: ''; width: 100%; height: 0px; line-height: 0px; display: block; clear: both; overflow: hidden}
.loginbox .inputbox li.line { width: 300px; float: left; height: 25px; line-height: 25px;padding-bottom: 5px; margin-top: 10px; padding-top: 15px; border-bottom: 1px solid #e1e1e1;
}
.loginbox .inputbox li.line i { width: 75px; height: 25px; border-right:1px solid #ccc; float: left}
.loginbox .inputbox li.line i.yhm { background: url("../../images/yhm.gif") no-repeat 45px;}
.loginbox .inputbox li.line i.mm { background: url("../../images/mm.gif") no-repeat 45px;}
.loginbox .inputbox li.line p { position: relative; float: left}
.loginbox .inputbox .inputrig { width: 200px; float: left; padding-left: 10px; height: 25px; line-height: 25px; border: none; outline: none;}
.loginbox .inputbox .inputrig:hover { border: none; outline: none}
.loginbutton { width: 90px; height: 90px; margin: 0px auto; margin-top: 40px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px; border:2px solid #fff; overflow: hidden;}
.loginbutton input[type=button]{ background: url("../../images/dl.png") no-repeat; width: 90px; height: 90px; display: block; border: none}
.loginbutton input[type=button].no{  background: url("../../images/dlno.png") no-repeat; }



/*登录模板选择*/
.loginModule{ width: 100%; height: 100%; position:absolute; background: rgba(255,255,255,0.5); z-index: 10; top:0px; bottom:0px; left: 0px; right:0px;}
.loginModule ul { width: 50%; position: absolute; top:30%;left:50%; margin-left:-25%;text-align: center; z-index: 11;}
.loginModule ul li { margin: 20px 30px; display: inline-block; width: 150px; height: 95px; padding-top: 55px; line-height: 40px;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    position: relative;
    border:5px solid #fff;
    -webkit-box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
    box-shadow: 0px 0px 15px #999;
    cursor: pointer;
    position: relative;
}
.loginModule ul li:after { position: absolute; display: block; left: 0px; right: 0px; content: ''; top:0px; width: 150px; height: 150px; z-index: 20;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
}
.loginModule ul li:hover:after { opacity: 1; background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(0.5,rgba(255,255,255,0.5)),to(rgba(255,255,255,0)));
    -webkit-animation:loginOver .2s linear;
    -o-animation:loginOver .2s linear;
    animation:loginOver .2s linear; }

.loginModule ul:nth-child(2) li:after { position: absolute; display: block; left: 0px; right: 0px; content: ''; top:0px; width: 80px; height: 80px; z-index: 20;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}


.loginModule ul li:first-child { background: #ffa000}
.loginModule ul li:nth-child(2){ background: #539622}
.loginModule ul li:nth-child(3){ background:#547ee3}
.loginModule ul li:nth-child(4) { background: #d32323}
.loginModule ul li:nth-child(5){ background: #e56092}
.loginModule ul li:nth-child(6) { background: #ffa000}
.loginModule ul li:nth-child(7){ background: #74a22b}
.loginModule ul li:nth-child(8){ background: #60cee5}
.loginModule ul:nth-child(2) {
    position: absolute;
    top: 150px;
}
.loginModule ul:nth-child(2) li {
    margin: 0px 20px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    font-size: 18px;
    color: #fff;
    line-height: 80px;
    width: 80px;
    height: 80px;
    padding: 0px;
    text-align: center;
    border:none;
    display: inline-block;
    background: #539622;
}
.memory { width: 150px; height: 30px; line-height: 30px;text-align: center; color: #fff;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background: #0e90d2;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom:20px;
}

@keyframes loginOver {0%{background-position: 0px; opacity: 1}50%{ background-position: 80px; opacity: 0.5}100%{ background-position: 150px; opacity: 1}
}
@-webkit-keyframes loginOver {0%{background-position:0px; opacity: 1}50%{ background-position: 80px; opacity: 0.5}100%{ background-position:150px; opacity: 1}
}
@-moz-keyframes loginOver {0%{background-position: 0px; opacity: 1}50%{ background-position: 80px; opacity: 0.5}100%{ background-position: 150px; opacity: 1}
}

@media (max-width: 640px) {
    .logobox { top:40px;}
    .loginbox { width: 300px; margin-left: -150px}
    .loginboxbg { width: 330px; margin-left: -165px;}
    .loginbox .inputbox { width: 270px;}
    .loginbox .inputbox li { width: 270px;}
    .loginbox .inputbox .inputrig { width: 150px;}
    .loginModule ul { width: 70%; margin-left: -35%;}
    .loginModule ul li { width: 65px; height: 65px; padding-top: 0px; line-height: 65px;margin: 10px 5px; font-size: 14px; border:3px solid #fff }
    .loginModule ul li:after { width: 65px; height: 65px;}

}

@media (max-width: 1367px) {
    .logobox { top:30px; font-size: 30px;}
}

/*登录页面模板2*/
.logBox { width: 370px; height:350px; position: absolute; z-index: 999; background: #fff; left: 50%; margin-left: -185px; top:25%;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;}

.logBox h1 { font-size: 24px; line-height: 50px; text-align: center; color: #333}
.logBox dl { width: 290px; height: 30px; line-height: 30px; margin: 0px auto; padding: 10px 0px 5px 0px; border-bottom: 1px solid #eee;}
.logBox dl dt { width: 100px; text-align: right; height: 30px; display: inline-block; line-height: 30px; float: left; font-weight: normal}
.logBox dl dd { width: 190px; text-align: left; height: 30px; line-height: 30px; display: inline-block;}

.loginboxbg2 { width: 400px; height:380px; background: rgba(255,255,255,0.3); position: absolute; z-index: 7; top:25%; margin-top: -15px; left: 50%; margin-left: -200px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}