<div class="tanchuang huang" ng-controller="buffetMinusController" ng-if="pop" style="width: 800px; left: 25%" drag>
    <dl class="tctit"><h1>冲减自助餐</h1></dl>
    <div class="tcDiv">
        <sz-table fields="deskInHistoryFields" items="buffetMinusList" button="add delete" head="true"></sz-table>
        <div class="button">
            <button ng-click="submit()">确认</button>
        </div>
    </div>
    <div class="closeBox" ng-click="closePop('buffetMinus')">+</div>
    <div class="drig" drag-handle></div>
</div>