<div style="width: 100%; height: 100%" >
    <div class="logobox">
        酒店之星管理系统
    </div>
    <div class="loginbox">
        <h1 class="logintit">用户登录平台</h1>
        <ul class="inputbox">
            <li class="line">
                <i class="yhm"></i>
                <p><input type="text" placeholder="请输入用户名" class="inputrig" ng-model="user.userId"
                          sz-select="userList"></p>
            </li>
            <li class="line">
                <i class="mm"></i>
                <p><input type="password" placeholder="请输入密码" class="inputrig" ng-model="user.password"
                       sz-not-null></p>
            </li>
        </ul>
        <ul class="loginbutton">
            <input type="button" ng-click="login()" sz-submit >
        </ul>

    </div>
    <div ng-show="chooseModule" class="loginModule">
        <ul>
            <li ng-repeat="r in ownModules" ng-click="onChooseModule(r)">{{r}}</li>
        </ul>
        <ul ng-show="choosePos">
            <li ng-repeat="r2 in ownPointOfSaleList" ng-click="onChoosePos(r2)">{{r2}}</li>
        </ul>
        <div class="memory"><input type="checkbox" value="记住该选择" ng-model="memory"> 记住该选择</div>
    </div>
    <div class="loginboxbg"></div>
    <div class="loginTopBox"></div>
    <div class="picbg"></div>
</div>