<!--main-container-part-->
<div id="content" ng-mouseup="clearSourceMoveRoom()" ng-if="!ifFaster|| !noShow">
    <!--Filter begin-->
    <div class="saixuanbox">
        <ul class="saixuanul">
            <li class="sxtit">房间类别：</li>
            <li class="sxli2">
                <select style="width: 120px;" ng-model="roomCategory" ng-options="x for x in roomCategoryList"></select>
            </li>
            <li class="sxtit">房间状态：</li>
            <li class="sxli2">
                <select style="width: 120px;" ng-model="roomState" ng-options="x for x in roomStateList"></select>
            </li>
            <div class="ldli" ng-click="ifSwitchLouDong=!ifSwitchLouDong">
                <li class="sxtit">楼栋 </li>
                <ul class="lpul" ng-show="ifSwitchLouDong">
                <span ng-repeat="r in areaList">
                    <a ng-click="clickArea(r,$event.shiftKey)" class="{{areaChoose.indexOf(r)>-1?'hover':null}}">{{r}}</a>
                </span>
                </ul>
            </div>
            <div class="lcli">
                <li class="sxtit " ng-click="ifSwitchLouCeng=!ifSwitchLouCeng">楼层</li>
                <ul class="lpul"  ng-show="ifSwitchLouCeng">
                <span ng-repeat="r in floorList">
                    <a ng-click="clickFloor(r,$event.shiftKey)" class="{{floorChoose.indexOf(r)>-1?'hover':null}}">{{r}}</a>
                </span>
                </ul>
            </div>

            <li class="sxli2 littleButton" style="margin-left: 10px;"><input type="button" value="刷新全部房态" sz-one-click="refresh()" sz-auto-click></li>
        </ul>
        <ul class="tongji">
            <p>总房数：<span class="red" ng-bind="roomMessage.totalRoom"></span></p>
            <p>在住房数：<span class="red" ng-bind="roomMessage.roominUse"></span></p>
            <p>脏房：<span class="red" ng-bind="roomMessage.dirtyRoom"></span></p>
            <p>可出租房：<span class="red" ng-bind="roomMessage.availableRoom"></span></p>
            <p>走客房：<span class="red" ng-bind="roomMessage.leaveRoom"></span></p>
            <p>预订房：<span class="red" ng-bind="roomMessage.bookRoom"></span></p>
            <p>出租率：<span class="red">{{roomMessage.roomRate | number:2}}%</span></p>
        </ul>
        <ul class="styleSheet">
            <p>房态图：</p>
            <a sz-resize-state="mainState" class="icon-info-sign" title="图标"></a>
            <a sz-resize-state="mainStateLittle2" class="icon-info-sign" title="小图标" style="color: #c60000"></a>
            <a sz-resize-state="mainStateVeryLittle" class="icon-info-sign" title="小图标" style="color: #47c60f"></a>
            <a sz-resize-state="mainStateLittle" class="little" title="颜色"></a>
            <a sz-resize-state="mainStateBig" class="big icon-adjust" title="红绿色盲"></a>
        </ul>
    </div>
    <!--Filter end-->

    <!--房态预览 begin ，优化步骤，directive添加浮动和图表，去掉filter，去掉浮动（改成单击），去掉进入就显示-->
    <ul class="mainRoomState">
        <li class="roomState" ng-class="r.hover" ng-repeat="r in roomList | room: roomState:roomCategory:null:null:areaChoose:floorChoose"
            ng-dblclick="clickGuestIn(r)" ng-click="receptionClick(r)" sz-right-click="rightClickRoom" sz-right-click-room-state sz-hover-room ng-mousedown="chooseSource(r)" ng-mouseup="chooseTarget(r)" sz-state-icon>
        </li>
    </ul>
    <!--房态预览 end-->

    <!-- 房态图标说明 begin -->
    <div class="roomStateLabel">
        <p class="riqi">
            营业日期：{{::nightDate}}
        </p>
        <p><i class="icon-tdf"></i>团队占房</p>
        <p><i class="icon-skf"></i>散客占房</p>
        <p><i class="icon-kyf"></i>空房</p>
        <p><i class="icon-zkf"></i>走客房</p>
        <p><i class="icon-wxf"></i>坏房</p>
        <p><i class="icon-time"></i>小时房</p>
        <!--<p><i class="icon-czkf"></i>长包房</p>
        <p><i class="icon-zyf"></i>自用房</p>-->
        <p><i class="icon-lock"></i>预订房</p>
        <p><i class="icon-ylbz"></i>预离</p>
        <p><i class="icon-zfbz"></i>脏房</p>
        <p><i class="icon-heart"></i>生日</p>
        <p><i class="icon-exclamation-sign"></i>特殊要求</p>
        <p><i class="icon-star"></i>贵宾</p>
        <!--<p><i class="icon-laptop"></i>团购</p>-->
        <p><i class="icon-flag"></i>领队</p>
    </div>
    <!-- 房态图标说明 end -->
</div>
<!--最后路径.html前的单词被初始化为popService中的变量标志-->
<sz-pop-up refresh="refresh()" name="reception/rightClickRoom/rightClickRoom.html" back="white"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/guestIn/guestIn.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/guestOut/guestOut.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/otherConsume/otherConsume.html" back="top"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/depositIn/depositIn.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/roomShopIn/roomShopIn.html" back="top"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/debtDetail/debtDetail.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/checkInUpdate/checkInUpdate.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/changeRoom/changeRoom.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/todayLock/todayLock.html"></sz-pop-up>
<sz-pop-up no-show="noShow" refresh="refresh()" name="reception/cleanRoom/cleanRoom.html"></sz-pop-up>
<sz-pop-up no-show="noShow" name="reception/cancelDeposit/cancelDeposit.html" back="top"></sz-pop-up>