<div class="tanchuang" ng-controller="lostRoomController" style="width: 800px; left: 30%;top:15%" ng-if="pop" drag>
    <dl class="tctit"><h1>哑房结算</h1></dl>
    <div class="tcDiv">
        <table class="tableBorderfff" style="width: 800px">
            <tr>
                <td style="width: 100px">总消费额：</td>
                <td>{{totalConsume}}<span class="red" ng-click="manyCurrency()" style="margin-top: 10px; cursor: pointer">+分单</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <sz-pay></sz-pay>
                </td>
            </tr>
        </table>
        <dl class="button">
            <input type="button" class="sbe" value="确定" ng-click="lostRoomCheckOut()">
        </dl>
    </div>
    <div class="closeBox" ng-click="closePop('lostRoom')">+</div>
    <div class="drig" drag-handle></div>
</div>