<html>
<head>
    <script src="../angular.js"></script>
    <script src="../otherJS/ag-grid-dist/ag-grid.js"></script>
    <script src="../otherJS/ag-grid-enterprise-dist/ag-grid-enterprise.js"></script>
    <script type="text/javascript">
        agGrid.LicenseManager.setLicenseKey("ag-Grid_EvaluationLicense_100Devs27_January_2018__MTUxNzAxMTIwMDAwMA==8c9dff17620c1f17c7c34cb69061acb6");

        // get ag-Grid to create an Angular module and register the ag-Grid directive
        agGrid.initialiseAgGridWithAngular1(angular);

        // create your module with ag-Grid as a dependency
        var myapp = angular.module('MyFilterApp', ["agGrid"]);
        myapp.controller('MyFilterController', ['$scope', function ($scope) {
            var columnDefs = [
                {headerName: "Make", field: "make"},
                {headerName: "Model", field: "model"},
                {headerName: "aaa", valueGetter:ageNowValueGetter},
                {headerName: "bbb", valueGetter:'getValue("aaa")*5'},
                {headerName: "Price", field: "price"}
            ];
            function ageNowValueGetter(params) {
                return params.data.price*10;
            }

            var rowData = [
                {make: "Toyota", model: "Celica", price: 123},
                {make: "Ford", model: "Mondeo", price: 32000},
                {make: "Porsche", model: "Boxter", price: 72000}
            ];
            $scope.gridOptions = {
                columnDefs: columnDefs,
                enableCellExpressions: true,
                defaultColDef: {
                    editable: true
                },
                onDisplayedColumnsChanged:function (params) {
                    console.log(params);
                },
                //angularCompileRows: true,
                rowData: rowData
            };
            $scope.refresh=function () {
                $scope.gridOptions.api.refreshView();
                console.log($scope.gridOptions.columnApi.getAllDisplayedVirtualColumns());
            }
        }]);
        myapp.directive('szRepeat',[function () {

        }])
    </script>
</head>
<body ng-app="MyFilterApp">
<div ng-controller="MyFilterController">
    <div ag-grid="gridOptions" class="ag-fresh" style="height: 100%;"></div>
    <button ng-click="refresh()">refresh</button>
    <div ng-repeat="r in ['1','2']">{{r}}</div>
</div>
</body>
</html>