<div class="tanchuang" style="width: 980px;" ng-if="pop" ng-controller="popCompanyGenerateController" drag>
    <dl class="tctit"><h1>单位发生</h1></dl>
    <div class="tcDiv">
        <div class="szSheet">
            <sz-tab>
                <sz-pane title="客房">
                    <sz-table fields="debtIntegrationFields" head="true" items="debtIntegrationList" button="add update delete" search-condition="debtIntegrationCondition"></sz-table>
                </sz-pane>
                <sz-pane title="餐饮">
                        <sz-table fields="deskPayRichFields" items="deskPayRichList" items-per-page="15" head="true" deep-search="true" button="add update delete" search-condition="deskPayRichCondition"></sz-table>
                </sz-pane>
            </sz-tab>
        </div>
    </div>
    <div class="closeBox" ng-click="closePop()">+</div>
    <div class="drig" drag-handle></div>
</div>