<div id="content">
    <div class="saixuanbox cy" ng-show="false">
        <ul class="saixuanul">
            <li class="sxli2 littleButton">
                <input type="button" value="刷新全部餐台" ng-click="refresh()" sz-auto-click>
            </li>
        </ul>
    </div>
    <div class="cdBox">
        <button class="cpButton" sz-width><span><</span>菜单</button>
        <ul class="zw">
            <div class="cyListBox">
                <ul class="cyList">
                    <sz-table fields="menuFields" head="true" button="add update delete" search-condition="menuCondition" row-click="menuClick(d)" right-click="rightClickMenu" items-per-page="15" deep-search="true"></sz-table>
                    数量：<input type="text" ng-model="num" ng-init="num=1" style="float: none; width: 100px">
                </ul>
            </div>
        </ul>
    </div>

    <ul class="cyStateContent">
        <!---->
        <li class="cyStateBox" ng-repeat="r in deskList" ng-click="deskIn(r)" sz-hover-room>
            <h1>{{r.name}}</h1>
            <p>{{r.deskIn.num}}{{r.deskIn?'人':''}} &nbsp; {{r.deskIn?'￥':''}}{{r.deskIn.consume}}</p>
            <i class="{{r.deskIn?'icon-jc':'icon-hp'}}"></i>
            <i ng-show="r.deskBookList.length>0" class="dotd icon-d2">订</i>
            <div class="hoverDiv" ng-show="r.deskBookList.length>0">
                <ul>
                    <li ng-repeat="r2 in r.deskBookList">来期:{{r2.reachTime | date}} &nbsp; <span class="red">订金:￥{{+r2.subscription}}</span></li>
                </ul>
            </div>
        </li>
    </ul>

    <!-- 底部图标说明 -->
    <div class="roomStateLabel">
        <p class="riqi">
            营业日期：{{nightDate}}
        </p>
        <p><i class="icon-hp"></i>空桌</p>
        <p><i class="icon-jc"></i>就餐</p>
        <p><i class="bnone"><span class="dotd icon-d2">订</span></i>预订就餐</p>
    </div>

</div>
<sz-pop-up refresh="refresh()" name="restaurant/deskDetail/deskDetail.html" back="none"></sz-pop-up>
<sz-pop-up refresh="refresh()" name="restaurant/rightClickMenu/rightClickMenu.html" back="white"></sz-pop-up>
<sz-pop-up name="restaurant/rightClickDeskDetail/rightClickDeskDetail.html" back="white"></sz-pop-up>