<div ng-controller="addSubscriptionController" ng-if="pop">
    <div class="littlePop" sz-pop-top drag>
        <div class="littlePopBox">
            <h1>{{add=='add'?'补交订金':'退订金'}}</h1>
            <div style="width: 170px; margin: 0px auto">
                <p style="text-align: left"><span class="lan">订单号：{{book.bookSerial || book.deskBookSerial}}</span></p>
                <p style="text-align: left"><span class="lan">当前订金：{{book.subscription}}</span></p>
                <p style="text-align: left">币种：<select style="width: 120px; float:none" ng-options="x for x in currencyList" ng-model="currency"></select></p>
                <p style="text-align: left"><input type="text" ng-model="subscription" placeholder="请输入金额" style="float: none; width: 150px;"></p>
                <p><button ng-click="addSubscription()">确认提交</button></p>
            </div>
        </div>
        <div class="closeBox" ng-click="closePop('addSubscription')">+</div>
        <div class="drig" drag-handle></div>
    </div>
</div>