<div class="tanchuang" style="width: 980px;" ng-if="pop" ng-controller="exchangeUserCKPopController" drag>
    <div class="tcDiv">
        <sz-exchange-user-report-ck></sz-exchange-user-report-ck>
    </div>
    <div class="closeBox" ng-click="closePop()">+</div>
    <div class="drig" drag-handle></div>
</div>
<sz-pop-up name="restaurant/deskPay/deskPay.html"></sz-pop-up>
<sz-pop-up name="reception/vip/vipDetail/vipDetail.html"></sz-pop-up>
<sz-pop-up name="restaurant/deskDetailHistory/deskDetailHistory.html"></sz-pop-up>