<div ng-if="pop" ng-controller="companyDepositController">
    <div class="littlePop" sz-pop-top drag>
        <div class="littlePopBox">
            <h1>单位支付</h1>
            <p class="tagp"><span>单位名称：</span><input type="text" ng-model="company" sz-select="companyList" style="float: none;width: 200px;"></p>
            <p class="tagp"><span>预存金额：</span><input type="text" style="float: none; width: 130px;" ng-model="deposit"></p>
            <p class="tagp"><span>支付方式：</span><select style="width: 118px; float: none" ng-options="x for x in currencyList" ng-model="currency"></select></p>
            <div class="clear"></div>
            <button style="margin-top: 20px;" ng-click="submit()">确认支付</button>
        </div>
        <div class="closeBox" ng-click="closePop('companyDeposit')">+</div>
        <div class="drig" drag-handle></div>
    </div>
</div>