/* Empty. Add your own CSS if you like */
sz-table { display: none}
.blank30 { height: 30px; display: block;}

.loginput, .loginput:hover,.loginput::selection{ border: none!important; padding: 0px!important; box-shadow: none; background: #fff}
.liContent { padding: 10px;}
.liContent p { line-height: 30px; padding-left: 12px; text-align: left; font-size: 16px; border-bottom:1px solid #dfdfdf}
.button { margin: 0px!important; padding: 0px!important;}

.previous-title { display: none!important;}

.toptitle {
    line-height: 30px;
    text-align: center;
    color: #444;
    font-size: 16px;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;}

.item i {
    position: absolute;
    left: 10px;
    top: 10px;
    background-size:450px!important;
    width: 40px;
    height: 40px;
}
.item i.G { background: url("../../images/ftpic.png") no-repeat -1px 0px; margin-left: 5px;}/*团队占房*/
.item i.S{ background: url("../../images/ftpic.png") no-repeat -45px 0px; margin-left: 5px;}/*散客占房*/
.item i.V { background: url("../../images/ftpic.png") no-repeat -85px 0px; margin-left: 7px;}/*可用房*/
.item i.R { background: url("../../images/ftpic.png") no-repeat -185px 0px}/*预订房*/
.item i.L { background: url("../../images/ftpic.png") no-repeat -160px 0px; margin-left: 5px;}/*走客房*/
.item i.X { background: url("../../images/ftpic.png") no-repeat -195px 7px}/*维修房*/
.item i.H { background: url("../../images/ftpic.png") no-repeat -450px 5px}/*钟点房*/
.item i.icon-czkf { background: url("../../images/ftpic.png") no-repeat -520px 0px}/*常驻客房*/
.item i.icon-mds { background: url("../../images/ftpic.png") no-repeat -585px 0px}/*没打扫*/
.item i.icon-zyf { background: url("../../images/ftpic.png") no-repeat -645px 3px}/*自用房*/
.rigtb li.icon-ylbz { background: url("../../images/ftpic.png") no-repeat -220px 0px; background-size: 400px;}/*预离标志*/
.rigtb li.icon-zfbz { background: url("../../images/ftpic.png") no-repeat -245px -20px; background-size: 450px;}/*脏房标志*/

.item-icon-left { padding-left: 64px!important;}
.item i.icon-jc { background: #ccc url("../../images/jcan.png") no-repeat 5px 9px; top:7px; background-size: 30px!important;border-radius: 20px;}
.item i.icon-hp { background: #ccc url("../../images/hping.png") no-repeat 5px 9px; top:7px; background-size: 30px!important;border-radius: 20px;}
.item i.icon-d2 { background: #ffa800; width: 20px; height: 20px; color: #fff; line-height: 20px; font-size: 14px;    text-align: center;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    top: 0px;}

.rigtb { width: 100%;}
.rigtb li {
    width:15px;
    height: 15px;
    font-size: 15px;
    line-height:15px;
    float: left;
   display: block; margin-right: 5px; margin-top: 3px;}
.rigtb li span { display: none}
.rigtb li.ion-ios-clock{color: #1c73d5;}
.rigtb li.ion-heart{color: #fa62aa;}
.rigtb li.ion-android-alert{ color: #ff1212;}
.rigtb li.ion-android-star{color: #ff8b03;}
.rigtb li.ion-flag{color: #1561d2;}

.mcss .spanTitle { width: 60px; display: inline-block; float: left; text-align: right; line-height: 30px;}
.mcss .inputInline { display: inline-block; width: 100px; float: left}
.mcss .tableSelect { width: 110px; height: 30px; line-height: 30px; border: 1px solid #cfcfcf;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;}
.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}

.manual-remove-top-padding {
    padding-top: 0px;
}

.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.tabs { height: 55px; line-height: 55px}

.bar.bar-stable { background-image: none!important;}

.cybutton { border-width: 1px!important; margin-right: 10px!important; padding: 0px 10px!important;}

.mbutBox {}
.mbutBox .mbut { width: 45%; margin: 2%!important; border: 1px solid #eee; background: #f1f1f1; height: 5em; line-height: 2em; padding: 0px;}
.mbutBox .mbut i { font-size: 40px;
    position: relative;
    left: 50%;
    top: 5px;
    display: block;
    margin-left: -20px;}
.mbutBox .mbut i.ion-ios-home,.mbutBox .mbut i.ion-clipboard { color:#74a22b }
.mbutBox .mbut i.ion-android-restaurant { color: orange}
.mbutBox .mbut i.ion-pricetags,.mbutBox .mbut i.ion-pie-graph { color: #0e90d2}
.mbutBox .mbut i.ion-search,.mbutBox .mbut i.ion-arrow-graph-up-right { color: #6b46e5}
.mbutBox .mbut i.ion-stats-bars { color: #ff1212;}
.mbutBox .mbut i.ion-connection-bars{color: #ff8b03;}
.mbutBox .mbut i.ion-archive { color: #db51a9}
.mbutBox .mbut a { padding: 0px; background: none}

.search { background: #eee; border-radius: 10px; margin: 0px auto; padding: 10px;}
.search .tableTime { width: 45%!important; height: 30px; line-height: 30px; padding: 0px 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; border: 1px solid #ddd;display: inline-block}

