<!doctype html>
<html ng-app="appMain" ng-controller="IndexController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{'酒店之星'+title}}</title>
    <link rel="stylesheet" href="../app-main.min.css">
    <link rel="stylesheet" type="text/css" id="pagestyle" href="../css/mainState/mainState.css"/>
    <script src="../app-main.min.js"></script>
    <script>
        /*谷歌图表标加载*/
        google.charts.load("current", {packages:["timeline"],'language': 'zh_cn'});
    </script>
</head>
<body>
<div style="height:100%">
    <div class="topbox" ng-if="moduleButtons">
        <div class="userbox" style="margin-top: 28px;">
            <a ng-click="showOwnModuleList()"><i class="icon-th-large"></i> <span>模块切换</span></a>
            <ul ng-show="ifSwitchModule">
                <li ng-repeat="r in ownModuleList" ng-click="switchModule(r)">{{r}}
                </li>
            </ul>
            <ul ng-show="ifSwitchPos">
                <li ng-repeat="r2 in ownPointOfSaleList" ng-click="switchPos(r2)">{{r2}}</li>
            </ul>
            <a ng-click="userChoose()"><i class="icon-user"></i> <span>{{currentUser}}</span></a>
            <ul class="ulUser">
                <li ng-click="logout()">退出</li>
                <li ng-click="changePassword()">修改密码</li>
            </ul>
        </div>
        <div class="logo" ng-mouseenter="contactUs()"><img src="../images/logo.png"></div>
        <div class="menu">
            <div sz-top-scroll-right class="fr lefta"><img src="../images/right.png" class="mb30"> </div>
            <div sz-top-scroll-left class="fl lefta"><img src="../images/left.png" class="mb30"> </div>
            <div class="menubox" sz-top-scroll>
                <button ng-repeat="r in moduleButtons" class="{{r.hover}}" ng-click="toPath(r)" sz-permission="{{r.name}}">
                    <i class="{{r.class}}"></i>
                    <h1>{{r.name}}</h1>
                </button>
            </div>
        </div>
    </div>
    <div ng-view style="height: 100%" ng-show="!timeError"></div>
</div>
<sz-pop-up name='common/nightProcess/nightProcess.html' back="static"></sz-pop-up>
<sz-pop-up name='common/message/message.html' back="static"></sz-pop-up>
<sz-pop-up name='common/password/modify.html'></sz-pop-up>
<sz-pop-up name="common/szPopChoose/szPopChoose.html" back="white2"></sz-pop-up>
<div class="bgblack" style="display: none"></div>
</body>

</html>