<div ng-if="pop" ng-controller="rightClickBookController" class="rightClickBox">
    <ul>
        <li ng-show="category=='客房预订'" ng-click="bookUpdate()"><i class="icon-edit"></i>修改</li>
        <li ng-click="addSubscription()"><i class="icon-signin"></i>补交订金</li>
        <li ng-show="book.subscription>0" ng-click="cancelSubscription()"><i class="icon-signout"></i>退订金</li>
        <li ng-show="book.bookRoomCategoryList.length>0" ng-click="arrangeRoom()"><i class="icon-reorder"></i>排房</li>
        <li ng-click="printBook()"><i class="icon-print"></i>补打预订单</li>
        <li ng-click="writeDoorBefore()" ng-show="category=='客房预订'"><i class="icon-credit-card"></i>提前制卡</li>
        <div class="clear"></div>
    </ul>
</div>