<div class="tanchuang" ng-controller="userAddController" ng-if="pop" sz-pop-top drag>
    <dl class="tctit"><h1>{{mode=='add'?'新增操作员':'权限管理'}}</h1></dl>
    <div class="tcDiv">
        <div class="chooseUser">
            <p ng-show="mode=='add'">用户名：<input type="text" style="float: none; width: 120px;" ng-model="userId"></p>
            <p><select ng-show="mode=='update'" ng-model="user" ng-options="x.userId for x in userList" style="width: 100px; float: none" ng-change="chooseUser(user)"></select></p>
            <p ng-show="mode=='add'">密码：<input type="password" style="float: none; width: 120px;" ng-model="password"></p>
            <p ng-show="mode=='add'">确认密码：<input type="password" style="float: none; width: 120px;" ng-model="confirm"></p>
            <div class="clear"></div>
        </div>

        <div class="qxBox">
            <h1>选择模块及权限：</h1>
            <div class="tableBorderaaa" style="padding: 15px; padding-bottom: 0px; width: 930px">
                <dl ng-repeat="r in moduleList">
                    <dt><input type="checkbox" ng-model="r.check">{{r.name}}<b ng-show="r.check">：</b></dt>
                    <dd ng-show="r.check">
                        <span ng-repeat="r2 in r.permissionList"><input type="checkbox" ng-model="r2.check"> {{r2.text}}</span>
                    </dd>
                </dl>
                <div class="clear"></div>
            </div>

            </div>
            <div class="qxBox">
                <h1>选择营业部门：</h1>
                <div class="tableBorderaaa" style="padding: 15px; padding-bottom: 0px; width: 930px">
                    <dl>
                        <dd>
                            <span ng-repeat="r in pointOfSaleList" ng-show="r.module=='餐饮'"><input type="checkbox" ng-model="r.check"> {{r.firstPointOfSale}}</span>
                        </dd>
                    </dl>
                    <div class="clear"></div>
                </div>

            </div>


            <div class="button">
                <input type="button" value="确认提交" ng-click="submitUserAdd()" ng-if="mode!='add'||password==confirm">
            </div>

    </div>
    <div class="closeBox" ng-click="closePop('userAdd')">+</div>
    <div class="drig" drag-handle></div>
</div>
