@import "public.css";


.picBox { width: 100%; height: 572px; margin: 0px auto}

.bgSoft { width: 100%; height: 520px; background: url("http://o7rv84v9u.bkt.clouddn.com/bg1.gif") repeat;}
.bgPic { width: 526px; height: 300px; float: left; margin-left: -20px; padding-top: 100px;}
.bgText { width: 615px; float: right; padding-top: 65px;}
.bgText p { padding-left: 70px; height: 330px; float: left; margin-top: 20px; line-height: 36px; font-size: 16px; text-align: left; background: url("http://o7rv84v9u.bkt.clouddn.com/number.png") no-repeat 40px 12px;}

.msSoft { width: 100%; height: 490px; background: url("http://o7rv84v9u.bkt.clouddn.com/mensuobg21.jpg") no-repeat center bottom;}
.msText { width: 600px; float: left; padding-top: 50px;}
.msText p { padding-left: 70px; padding-top: 140px; float: left; font-size: 20px; line-height: 36px; color: #fff;
    text-shadow: 1px 1px 1px #333;}





.ptSoft { width: 100%; height: 410px; background: url("http://o7rv84v9u.bkt.clouddn.com/otherbg.jpg") no-repeat center}
.ptText { width: 550px; float: right; padding-top: 80px;}
.ptText .ptTit { text-align: center; height: 40px; line-height: 40px; font-size: 30px; font-weight: normal; color: #fff;}
.ptText p { padding-top: 40px; font-size: 18px; line-height: 36px; text-align: left; color: #fff}

.caseBox { width: 1150px; margin: 0px auto; height: 715px;}
.caseTitle { width: 100%; height: 95px; padding-top: 50px; text-align: center}
.caseBox dl { width:356px; height: 222px; float: left; margin: 12px; position: relative }
.caseBox dl dt { width: 100%; height: 30px; line-height: 30px; position: absolute; z-index: 9; background: rgba(0,0,0,0.6); text-align: center;
    color: #fff; font-size: 14px; bottom: 0px;
}
.caseBox dl dd { width: 100%; height: 222px; position: absolute; top:0px; left: 0px; z-index: 7;}
.caseBox dl dd img { width: 100%; height: 100%}

.indexContact { width: 100%; height: 434px; background: url("http://o7rv84v9u.bkt.clouddn.com/contactbg.jpg") no-repeat center; position: relative}
.indexContact .contactBox { width: 100%; height: 235px; padding-top: 45px; background: rgba(255,255,255,0.3); position: absolute; z-index: 9; bottom: 0px;}
.indexContact .contactBox .lefcon { width: 390px; float: left}
.indexContact .contactBox .lefcon h1 { font-size: 18px; color: #547ee3; font-weight: normal; line-height: 30px; text-align: left; padding-bottom: 15px;}
.indexContact .contactBox .lefcon li { width: 100%; height: 38px; line-height: 38px; border-bottom: 1px solid #fff;}
.indexContact .contactBox .lefcon li i { width: 37px; height: 38px; float: left; display: block; background: url("../images/lxdot.png") no-repeat left}
.indexContact .contactBox .lefcon li i.lxr { background-position: 0px 0px;}
.indexContact .contactBox .lefcon li i.rx { background-position: 0px -40px;}
.indexContact .contactBox .lefcon li i.yx { background-position: 0px -80px;}
.indexContact .contactBox .lefcon li i.dz { background-position: 0px -120px;}
.indexContact .contactBox .cencon { width: 410px; float: left; margin-left: 40px;}
.indexContact .contactBox .ewmRight { width: 285px; float: right}
.indexContact .contactBox .ewmRight h1 { font-size: 18px; font-weight: normal; line-height: 23px; color: #333;}
.indexContact .contactBox .ewmRight h1 span { font-size: 14px; color: #666}
.indexContact .contactBox .ewmRight h1 span font { color: #547ee3;}
.indexContact .contactBox .ewmRight img { width: 152px; height: 152px; margin-top: 5px;}

@media (max-width: 767px) {
.bgPic { display: none}
.bgSoft { height: 7rem!important;}
.bgText { width: 95%!important; padding-top: 0.46rem!important; margin: 0px auto; float: none}
.bgText p {
    padding-left: 0.46rem!important;
    font-size: 0.22rem!important;
    line-height: 0.56rem!important;
    background: url("http://o7rv84v9u.bkt.clouddn.com/number.png") no-repeat 0.16rem 0.2rem!important;
    margin-top: 0px!important;
    background-size: 0.25rem 91%!important;
    float: none!important;
    height: 5.1rem;
}

.msSoft {
    padding-top: 0.08rem!important;
    height: 4.38rem!important;  background: url("http://o7rv84v9u.bkt.clouddn.com/mensuobg21.jpg") no-repeat left -0.78rem!important;background-size: 30rem!important;
}
.msText { width: 95%!important; margin: 0px auto; float: none!important; padding-top: 0.31rem!important;}
.msText p { padding-top: 0.46rem!important; padding-left: 0.16rem!important; font-size: 0.22rem!important; float: none!important;}

    .ptSoft { background-position: right bottom!important;height: 250px!important;}
    .ptText { width: 95%!important; margin: 0px auto; float: none!important; padding-top: 0.46rem!important;}
    .ptText .ptTit { height: 0.46rem!important; line-height: 0.46rem!important; font-size: 0.38rem!important;}
    .ptText p { font-size: 0.22rem!important;}
    .caseBox { width: 100%; height: 8.05rem;}
    .caseTitle { height: 0.78rem; padding-top: 0.31rem}
    .caseTitle img { height: 0.78rem;}
    .caseBox dl { width: 46%; height: 1.88rem; float: left; margin: 2%!important;}
    .caseBox dl dd{ height: 1.88rem;}
    .indexTel { width: 100%; font-size: 0.38rem; line-height: 0.63rem; text-align: center; color: #fff; padding-top: 0.46rem;
        text-shadow: 0px 0px 5px #000;}
    .indexContact .contactBox .lefcon { display: none}
    .indexContact .contactBox .cencon { display: none}
    .indexContact .contactBox .ewmRight { float:none; margin: 0px auto;padding-left: 2.03rem;}

}

