@import "public.css";

.neiPicBox { width: 100%; height:305px;}

.position { width: 1150px; margin: 0px auto; height: 55px; border: 3px solid #fff;
    -webkit-box-shadow: 0px -3px 2px #bbb;
    -moz-box-shadow:  0px -3px 2px #bbb;
    box-shadow:  0px -3px 2px #bbb;
    text-align: left;
    line-height: 55px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    margin-top: 30px;
    -webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
    padding-left: 44px;
    font-size: 14px;
    background: #547ee3 url("../images/wz.gif") no-repeat 20px;
}

.jjBox { width: 1200px; margin: 0px auto; min-height: 860px; background: url("../images/map.gif") no-repeat right bottom;}
.jjBox p { font-size: 18px; line-height: 40px; padding-top:100px; padding-left: 40px;}
.jjBox p img { float: right; width: 500px; margin-left: 10px;}

.alBox { width: 1150px; margin: 0px auto; padding-bottom: 50px;}
.alBox:after { content: ''; display: block; width: 100%; height: 1px; clear: both; overflow: hidden}
.alul { width: 846px; margin: 0px auto; padding-top: 40px;}
.alTitle { width: 200px; height: 40px; line-height: 40px; background: #fff; border:1px solid #ccc;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    float: left;
    margin:0px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 40px;
    cursor: pointer;
}
.alTitle:hover, .alTitle.hover { background:#547ee3; border: 1px solid #547ee3; color: #fff}


.alBox dl { width:356px; height: 222px; float: left; margin: 12px; position: relative }
.alBox dl dt { width: 100%; height: 30px; line-height: 30px; position: absolute; z-index: 9; background: rgba(0,0,0,0.6); text-align: center;
    color: #fff; font-size: 14px; bottom: 0px;
}
.alBox dl dd { width: 100%; height: 222px; position: absolute; top:0px; left: 0px; z-index: 7;}
.alBox dl dd img { width: 100%; height:100%}

/*招商加盟*/
.zsTitle { width: 1200px; margin: 0px auto; border-bottom: 1px solid #ccc; position: relative; height: 30px; margin-top: 50px;}
.zsTitle h1 { width: 200px; height: 50px; line-height: 50px; margin: 0px auto; background: #fff; font-size: 24px; color: #666; position: absolute;
z-index: 9; top:0px; left: 50%; margin-left: -100px; text-align: center;
}
.zsBox { width: 900px; margin: 0px auto; min-height:660px; padding-top: 100px; padding-right: 300px; background: url("../images/map.gif") no-repeat right bottom;}
.zsBox input[type=text]{ border: 1px solid #ccc; line-height: 35px; padding: 0px 10px; text-align: left; margin: 10px 0px; width: 550px;}
.zsBox textarea { width: 700px; height: 100px; border: 1px solid #ccc; text-align: left; padding: 10px; overflow-y: auto; margin: 10px 0px;}
.zsBox input[type=button] { width: 100px; height: 35px; text-align: center; border: none; background: #547ee3; color: #fff; line-height: 35px;}
.zsBox .zhus { padding-left: 15px; line-height: 35px; color: #999;}

/*联系我们*/
.ulContact { width: 550px; float: left;}
.companyName { font-size: 24px; font-weight: normal; padding-left: 40px; padding-bottom: 50px; color: #547ee3; height: 30px; line-height: 30px; text-align: left;}
.ulContact li { width: 510px; height: 40px; line-height: 40px; border-bottom: 1px solid #ccc; text-align: left; padding-left: 40px; color: #666; font-size: 16px;}
.ulContact li i { width: 37px; height: 38px; float: left; display: block; background: url("../images/lxdot.png") no-repeat left}
.ulContact li i.lxr { background-position: 0px 0px;}
.ulContact li i.rx { background-position: 0px -40px;}
.ulContact li i.yx { background-position: 0px -80px;}
.ulContact li i.dz { background-position: 0px -120px;}
.ulMap { width: 700px; height: 450px; float: left; margin-top: 30px;}

/*产品介绍*/
.cpBox { width: 1200px; margin: 0px auto; padding-top: 30px;}

.bgpicr1 { width: 598px; height: 286px; float: right; padding-top: 120px;}
.bgSoftLeft1 { width:540px; float: left; padding-left: 45px; text-align: left; padding-top: 100px;}
.bgSoftLeft1 h1 { font-size: 36px; line-height: 40px; color: #547ee3; font-weight: normal}
.bgSoftLeft1 h2 { font-size: 20px; line-height: 40px; color: #eb950d; font-weight: normal}
.bgSoftLeft1 h3 { font-size: 30px; color: #777; line-height: 48px; padding-top: 25px; font-weight: normal}
.bgSoftLeft1 h3 .span1 { font-size: 36px;}
.bgSoftLeft1 h3 .span2 { font-size: 36px; color: #547ee3}
.bgSoftLeft1 p { padding-top: 35px;}

.cpTitle { width: 960px; height: 55px; line-height: 55px; font-size: 24px; color: #fff; text-align: center; background: #547ee3; margin: 0px auto; margin-top: 100px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    margin-bottom: 50px;
}
.bgSoftPic { width: 1010px; height:auto; margin: 0px auto;}

.bgSoftBanben { width: 250px; height: 160px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    margin: 50px 25px;
    float: left;
}
.bbTitle { width: 59px; height: 130px; padding-top: 30px; float: left; border-right:1px solid #fff;
    -webkit-border-radius:15px 0px 0px 15px;
    -moz-border-radius:15px 0px 0px 15px;
    border-radius:15px 0px 0px 15px;
    -webkit-box-shadow: inset -1px 0px 2px #333;
    -moz-box-shadow: inset -1px 0px 2px #333;
    box-shadow: inset -1px 0px 2px #333;
    background: rgba(255,255,255,0.1);
    font-size: 24px; color: #fff; line-height: 30px; font-weight: normal; text-align: center;
}
.bgSoftBanben li { padding-left: 15px; padding-top: 12px; line-height: 14px; font-size: 14px; color: #fff; text-align: left; float: left}
.bgSoftBanben li i { width: 10px; height: 10px; display: block; background: #fff;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px; margin-right: 15px; float: left; margin-top: 5px;}
.mfUsed { width: 100%; height: 80px; font-size: 30px; color: #c01414; text-align: center; line-height: 80px; padding-top: 30px;}
.mfUsed span { font-size: 40px; font-weight: bold}
.bddh1 { width: 100%; height: 70px; line-height: 70px; font-size: 30px; color: #70972c; text-align: center; padding-bottom: 50px;}
.bddh1 span { font-size: 40px; font-weight: bold}

/*电子门锁*/
.msTitle { width: 1200px; height: 30px; border-bottom: 1px solid #ccc; position: relative; margin-top: 50px; margin-bottom: 120px;}
.msTitle h1 { width: 340px; height: 70px; position: absolute; background: #fff; color: #777; font-size: 36px; font-weight: normal;
    top:0px; z-index: 9;left: 50%; margin-left: -170px; text-align: center;
}
.msTitle h1 span { font-size: 25px; line-height: 55px; color: #999}
.msPic { width: 1048px; margin: 0px auto;}
.msContent { width: 1000px; margin: 0px auto; text-align: left; font-size: 18px; line-height: 48px; color: #777; margin-top: 30px;}
.msContent p { margin: 15px 0px; text-indent: 2em}
.msContent p span { font-size: 24px; color: #eb950d}
.msTel { width: 100%; height: 156px; background: url("http://o7rv84v9u.bkt.clouddn.com/mfrx.gif") no-repeat center; margin-top: 100px; margin-bottom: 50px;}

/*智能客控*/
.znService { width: 100%; padding: 40px 0px; text-align: center; background: #547ee3}
.qcPic { width: 100%; text-align: center; padding: 80px 0px 40px 0px;}
.ul-content04 {
    margin: 0px auto;
    margin-top: 20px;
    height: 160px;
    margin-bottom: 70px;
    width: 1000px;
    position: relative;

}
.ul-content04 li {
    border: 1px solid #e2e2e2;
    background-color: #f3f3f3;
    float: left;
    width: 220px;
    height: 140px;
    margin-right: 13px;
    _margin-right: 6px;
    padding: 10px 5px 0 5px;
    font-size: 14px;
    line-height: 20px;
}
.ul-content04 li.nrm {
    margin-right: 0px;
}

/*配套产品*/
.ptCp { width: 399px; height: 292px; float: left; border-right:1px solid #fff; border-bottom: 1px solid #fff; background: #547ee3;
text-align: center; font-size: 20px; line-height: 35px; color: #fff;
}
.ptCp p { padding: 70px 10px 0px 10px;}
.ptCp img { width: 399px; height: 292px;}

/* The banner divs */
.banner {
    width: 399px;
    height: 292px;
    position: relative;
    overflow: hidden;
    float: left;
    display: inline;
    border-right:1px solid #fff; border-bottom: 1px solid #fff;
}

/* The banner divs */
.banner img {
    display: block;
    border: none;
    width: 399px;
    height: 292px;
    margin: 0px auto;
}

/* The dark animated divs */
.banner div {
    position: absolute;
    z-index: 100;
    background-color: #222;
    width: 200px;
    height: 200px;
    cursor: pointer;

    /*	Setting a really big value for border-radius
        will make the divs perfect circles */
    -moz-border-radius:290px;
    -webkit-border-radius:290px;
    border-radius:290px;
}

/*	Positioning the animated divs outside the
	corners of the visible banner area: */
.banner .cornerTL { left:-200px; top:-200px; }
.banner .cornerTR { right:-200px; top:-200px; }
.banner .cornerBL { left:-200px; bottom:-200px; }
.banner .cornerBR { right:-200px; bottom:-200px; }

/* The "Visit Company" text */
.banner p {
    width: 100%;
    left: 0;
    top: 57px;
    z-index: 200;
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: none;	/* hidden by default */
    font-size: 30px; color: #fff;padding-top: 60px;
}

@media (max-width: 767px) {
    .neiPicBox { width: 100%; height:1.95rem;background-size: 240%!important;}
    .zsTitle { width: 95%; margin: 0px auto; border-bottom: 1px solid #ccc; position: relative; height: 0.16rem; margin-top: 0.31rem;}
    .zsTitle h1 { width: 1.6rem; height: 0.46rem; line-height: 0.46rem; margin: 0px auto; background: #fff; font-size: 0.28rem; color: #666; position: absolute;
        z-index: 9; top:0px; left: 50%; margin-left: -0.78rem; text-align: center;
    }
    .jjBox { width: 95%; margin: 0px auto; background:none; min-height: 6.25rem;}
    .jjBox p { font-size: 0.22rem; line-height: 0.39rem; padding-top:0.46rem; width: 100%; padding-left: 0px;}
    .jjBox p img { width: 100%; margin-bottom: 10px;}
    .cpBox { width: 100%;padding-top: 0.16rem;}
    .alul { width: 100%!important; padding-top: 0.31rem;}
    .alTitle{
        width: 1.25rem;
        height: 0.46rem;
        line-height: 0.46rem;
        margin: 0px 0.08rem;
        font-size: 0.22rem;
        margin-bottom: 0rem;
    }
    .bgpicr1 { width: 95%; height: auto; padding-top: 0.31rem; float: none; margin: 0px auto}
    .bgpicr1 img { width: 100%; height: auto}
    .bgSoftLeft1 { float: none; width: 95%; padding-top: 0.31rem; padding-left: 0px; margin: 0px auto}
    .bgSoftLeft1 h1,.bgSoftLeft1 h3 .span1,.bgSoftLeft1 h3 .span2 { font-size: 0.31rem;}
    .bgSoftLeft1 h2 { font-size: 0.22rem; line-height: 0.31rem;}
    .bgSoftLeft1 h3 { font-size: 0.22rem; line-height: 0.44rem;}
    .bgSoftLeft1 p img { width: 100%;}
    .cpTitle{
        width: 95%;
        height: 0.55rem;
        line-height: 0.55rem;
        font-size: 0.28rem;
        margin-top: 0.31rem;
        margin-bottom: 0.31rem;
    }
    .bgSoftPic { width: 100%; text-align: center}
    .bgSoftPic img { width: 100%; height: auto}
    .bgSoftBanben {
        width: 42%;
        height: 2.03rem;
        margin: 0.16rem 0.18rem;
    }
    .bbTitle{
        width: 0.55rem;
        height: 1.72rem;
        padding-top: 0.31rem;
        font-size: 0.22rem;
    }
    .bgSoftBanben li {
        padding-left: 0.08rem;
        line-height: 0.18rem;
        font-size: 0.18rem;
    }
    .bgSoftBanben li i{
        width: 0.08rem;
        height: 0.08rem;
        margin-top: 0.08rem;
        margin-right: 0.08rem;
    }
    .bddh1 {    line-height: 0.78rem;
        font-size: 0.47rem;}
    .msTitle { width: 95%; margin: 0px auto;margin-top: 0.31rem;margin-bottom: 0.78rem;}
    .msTitle h1 {
        width: 3.13rem;
        font-size: 0.28rem;
        left: 50%;
        margin-left: -1.6rem;
    }
    .msTitle h1 span { font-size: 0.22rem; line-height: 0.23rem;}
    .msPic { width: 95%}
    .msPic img { width: 100%; height: auto}
    .msContent { width: 95%; font-size: 0.22rem; line-height: 0.44rem;}
    .msContent p span { font-size: 20px;}
    .msTel { margin-top: 0.31rem; background-size: 300%!important; margin-bottom: 0.31rem;}
    .znService { padding: 0.31rem 0rem}
    .znService img { width: 90%;}
    .qcPic { width: 100%; padding: 0.31rem 0rem; text-align: center}
    .qcPic img { width: 95%;}
    .ul-content04 { width: 100%;    height: 4.06rem;}
    .ul-content04 li {
        width: 45%;
        height: 2.19rem;
        margin-left: 4px;
        margin-right: 4px;
        padding: 10px 5px 0 5px;
        font-size: 0.2rem;
        line-height: 0.28rem;
        margin-bottom: 0.16rem;
    }
    .ul-content04 li:nth-child(2){ margin-right: 0px}
    .ul-content04 li img { width: 2.81rem!important;}
    .banner p { display: block;}
    .alBox { width: 100%;}
    .alBox dl { width: 46%; height: 1.88rem; float: left; margin: 2%!important;}
    .alBox dl dd{ height: 1.88rem;}
    .zsBox {
        width: 95%;
        min-height: 6.72rem;
        padding-top: 0.46rem;
        padding-right: 0px;
        background:none;
        margin-left: 0.16rem;
    }
    .zsBox input[type=text] { width: 90%}
    .zsBox textarea { width: 90%}
    .zsBox .zhus { font-size: 0.2rem;}
    .ulContact { width: 100%;}.companyName { padding-left: 0px;}.ulContact li { width: 100%; padding-left: 0px; font-size: 0.22rem;}
    #dituContent { width: 100%!important;}
    .ulMap { width: 100%}
    .banner { width: 100%; margin: 0px auto; text-align: center}
    .ptCp { position: relative; left: 50%; margin-left: -200px;}

}
@media (min-width: 768px) and (max-width: 1024px) {
    .zsTitle,.jjBox { width: 90%!important;}
    .jjBox p { padding-left: 0px; width: 100%}
    .jjBox p img { width: 300px;}
    .cpBox { width: 100%}
    .alul {  width: 100%!important;}
    .alTitle {width: 20%; margin: 0px 2%}
    .bgpicr1 { float: none; padding-top: 50px;margin: 0px auto;}
    .cpTitle { width: 90%}
    .bgSoftLeft1 { float: none; width: 100%; text-align: center; padding-left: 0px;}
    .bgSoftPic { width: 95%}.bgSoftPic img { width: 100%}
    .bbBox { width: 600px; margin: 0px auto}
    .msTitle { width: 100%}
    .msPic { width: 100%; text-align: center}.msPic img { width: 90%}
    .msContent { width: 90%}.qcPic img { width: 90%}
    .banner { width: 33%}
    .ptCp { width: 33%; font-size: 16px;}
    .alBox { width: 100%}
    .zsBox { width: 90%; padding-right: 0px;}
    #dituContent { width: 100%!important;}
}
@media (min-width: 768px) and (max-width: 999px) {


    .ul-content04 { width: 100%; height: 360px;}.ul-content04 li { width: 39%; margin: 15px 3%; padding: 13px 2%}.ul-content04 li span { display: block}

}