<div class="tanchuang" style="width: 980px;" ng-if="pop" ng-controller="debtDetailController" drag>
    <dl class="tctit"><h1>消费明细</h1></dl>
    <div class="tcDiv">
        <div class="szSheet">
            <sz-tab>
                <sz-pane title="消费明细">
                    <sz-table fields="debtFields" head="true" items="debtList" button="add update delete" right-click="rightClickDeposit" init-refresh="refreshDebtTable(f)"></sz-table>
                </sz-pane>
                <sz-pane title="分单明细" ng-if="param.paySerial || param.checkOutSerial">
                    <div class="huang" style="width: 300px">
                        <sz-table fields="debtPayFields" button="add update delete" search-condition="debtPayCondition" right-click="rightClickCompanyPay"></sz-table>
                    </div>
                </sz-pane>
            </sz-tab>
        </div>
    </div>
    <div class="closeBox" ng-click="closePop()">+</div>
    <div class="drig" drag-handle></div>
</div>
<sz-pop-up name="reception/rightClickDeposit/rightClickDeposit.html" back="white"></sz-pop-up>