<table style="padding: 0px!important; margin: 0px;" class="tagtable">
    <tr ng-repeat="r in currencyPayList">
        <td style="width: 100px; text-align: right">
            <button ng-click="deleteCurrency(r)" ng-show="$index>0" class="add" title="删除">-</button>
            支付方式：
        </td>
        <td style="width: 130px; text-align: left">
            <select ng-options="x for x in currencyList" ng-model="r.currency" ng-change="r.currencyAdd=null;r.currencyAdd1=null;r.currencyAdd2=null;">
            </select>
        </td>
        <td colspan="4" class="xtc" style="width: 690px">
            <p class="fl2" ng-show="currencyPayList.length>1"><span class="lan">分单金额：</span>￥<input type="text" ng-model="r.money" ng-dblclick="calculateRemainMoney(r)" ng-init="currencyPayList.length>1?r.money=0:null" style="width: 50px; float: none"></p>
            <p class="fl2 hy" ng-show="r.currency=='会员'" style="text-align: left">
                <a class="icon-credit-card yellow" sz-read-key="r.idNumber" enter-method="readCard(r)" read-param="r"
                   style=" margin-right: 5px; cursor: pointer">读会员卡</a>

                <span ng-show="r.memberInfo && r.currency=='会员'">
                        <font class="lan">卡号：</font>{{r.memberInfo.vipNumber}} &nbsp;&nbsp;
                        选择 <select ng-model="r.currencyAdd2" ng-change="vipPayCategory(r)" style="width: 80px; float: none"
                                   ng-options="x for x in ['余额','积分']">
                    </select> 进行结算
                        <a class="red" sz-hover-display>
                            <span ng-show="r.currencyAdd2=='积分'">查看积分</span><span ng-show="r.currencyAdd2=='余额'">查看余额</span>
                        </a>
                        <a class="fdjy" style="display: none;">
                          <span ng-show="r.currencyAdd2=='积分'">当前积分：<font class="red">{{r.memberInfo.score}}</font><br>积分可抵：<font class="red">{{r.memberInfo.score*vipScale | currency :'￥'}}</font></span>
                          <span ng-show="r.currencyAdd2=='余额'">当前余额：<font class="red">￥{{r.memberInfo.remain}}</font></span>
                        </a>
                    </span>
            </p>
            <p class="fl2" ng-show="r.currency=='转房客'">
                <span class="lan2">房间号：</span><input type="text" ng-model="r.currencyAdd" sz-select="roomList" sz-select-width="200" sz-field="'roomId'" style="width: 50px; float: none" ng-change="changeChooseRoom(r)">
                <span class="lan2">当前余额：</span>{{r.chooseRoomRemain | currency:'￥'}}
            </p>
            <p class="fl2" ng-show="r.currency=='转单位'">
                <span class="lan2">单位名称：</span><input type="text" ng-model="r.currencyAdd1" sz-select="companyList" ng-change="changeCompany(r)" style="width: 130px; float: none"></p>
            <p class="fl2" ng-show="r.currency=='转单位'">
                <span class="lan2">签单人：</span><input type="text" ng-model="r.currencyAdd2" sz-select="r.companyLordListShow" ng-change="changeCompanyLord(r)" style="width: 80px; float: none">
            </p>
            <p class="fl2" ng-show="r.currency=='宴请'">
                <span class="lan2">签单人：</span><input type="text" ng-model="r.currencyAdd1" sz-select="freemanList" style="width: 100px; float: none" ng-blur="integration(r)">
            </p>
            <p class="fl2" ng-show="r.currency=='宴请'">
                <span class="lan2">原因：</span><input type="text" ng-model="r.currencyAdd2" style="width: 100px; float: none" ng-blur="integration(r)">
            </p>
        </td>
    </tr>
</table>
