<div style="width: 100%; position: relative;">
    <div style="position: absolute; height: 30px;width: 100%; z-index: 9">
        <table class="tableEasy" style="width: 100%">
            <thead>
            <tr>
                <th class="id" sz-resizeable ng-repeat="r in fields" ng-style="{width:r.width}" ><span ng-click="sort_by(r.id)">{{r.name}}</span></th>
                <th class="id" ng-if="state=='delete'" ng-click="deleteAll()" style="width: 50px; text-align: center">删除</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tableEasyDiv">
        <table class="tableEasy easy">
            <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="r in fields" ng-style="{width:r.width}">
                    <span ng-if="!r.selectId">{{item[r.id] | szTableFilter:r.id:r.date}}</span>
                    <select ng-if="r.selectId" ng-model="item[r.id]"
                            ng-options="x for x in selectList[r.selectId] | {{filter}}:r.filter:item[r.filter]">
                    </select></td>
                <td ng-if="state=='delete'" style="width: 50px; text-align: center"><input type="checkbox" ng-click="deleteChoose(item)" ng-model="item.ifDelete"></td>
            </tr>
            <tr ng-if="state=='add'">
                <td ng-repeat="r in fields" ng-style="{width:r.width}">
                    <input ng-model="addItem[r.id]" ng-if="!r.selectId" uib-datepicker-popup if-uib-datepicker-popup="r.date"
                           sz-focus="$index==0" placeholder="{{r.notNull?'不可为空':''}}" ng-change="addChoose(r)">
                    <select ng-model="addItem[r.id]" ng-if="r.selectId"
                            ng-options="x for x in selectList[r.selectId] | {{filter}}:r.filter:addItem[r.filter]" sz-focus="$index==0"
                            ng-change="addChoose(r)" placeholder="{{r.notNull?'不可为空':''}}">
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pull-right" style="margin-top: 20px;">
        <ul class="pagination">
            <li>
                <input type="button" ng-if="state=='none'&& button.indexOf('add')==-1" ng-click="addBegin()" value="增加">
                <input type="button" ng-if="state=='add'" ng-click="add()" ng-disabled="wrongMsg" value="保存">
                <input type="button" ng-if="state=='add'" ng-click="cancel()" value="取消">
                <input type="button" ng-if="state=='none'&& button.indexOf('delete')==-1" ng-click="deleteBegin()" value="删除">
                <input type="button" ng-if="state=='delete'" ng-click="delete()"  value="确认">
                <input type="button" ng-if="state=='delete'" ng-click="cancel()" value="取消">
            </li>
        </ul>
    </div>
</div>
