<div ng-show="head" class="saixuanbox" style="margin: 20px 0px;">
    <ul class="saixuanul">
        <li class="sxtit">查询</li>
        <li class="sxli2"><input ng-model="query" type="text" placeholder="输入关键字查询，多个关键字以空格隔开" style="width: 260px" ng-change="change()">
        </li>
        <li class="sxtit">每页显示</li>
        <li class="sxli2"><input ng-model="itemsPerPage" type="text" ng-change="change()" style="width: 50px;"></li>
        <li ng-show="deepSearch" class="sxtit">总数：</li>
        <li ng-show="deepSearch" class="sxli2"><span class="red">{{totalNum}}</span></li>
        <li ng-show="deepSearch" class="sxtit">设置查找数量上限</li>
        <li ng-show="deepSearch" class="sxli2"><input ng-model="maxNum" type="text" style="width: 50px;"></li>
        <li ng-show="deepSearch && debug=='y'" class="sxtit">设置查找条件</li>
        <li ng-show="deepSearch && debug=='y'" class="sxli2"><input ng-model="searchCondition" type="text" style="width: 200px;"></li>
        <li ng-show="deepSearch && debug=='y'" class="sxli2 littleButton"><input type="button" value="确定" ng-click="refreshAndSearch()"></li>
        <li ng-show="deepSearch" class="sxli2 littleButton" ng-show="haveFilter"><input type="button" value="高级搜索" ng-click="showDeepSerach=!showDeepSerach"></li>
        <div class="clear"></div>
        <div ng-show="showDeepSerach" style="margin-top: 10px;">
            <div ng-repeat="r in fields" class="fl" style="margin-bottom: 5px;">
                <ul ng-show="r.filter" ng-click="showDetail=!showDetail" class="xlul">
                    <li class="xlName">{{r.name}}</li>
                    <li class="xlInput" ng-if="r.filter=='list'" style="position: relative;">{{r.nowFilter}}<span ng-show="r.nowFilter==null">全部</span>
                        <div class="xlBox" ng-show="showDetail" ng-if="r.filter=='list'">
                            <span ng-click="filterFieldList(r,null)">全部</span>
                            <span ng-repeat="r2 in r.filterList" ng-show="showDetail && r.filter=='list'" ng-click="filterFieldList(r,r2)">{{r2}}</span>
                        </div>
                    </li>
                    <li ng-if="r.filter=='input'" style="float: left"><input type="text" ng-change="filterFieldList(r,value)" ng-model="value"></li>
                    <li ng-if="r.filter=='date'" style="float: left; margin-right: 30px;">
                        <input type="text" style="width: 110px; float: none" ng-model="beginTime" uib-datepicker-popup ng-change="filterFieldDate(r,beginTime,endTime)">至
                        <input type="text" style="width: 110px; float: none" ng-model="endTime" uib-datepicker-popup ng-change="filterFieldDate(r,beginTime,endTime)">
                    </li>
                </ul>
            </div>
        </div>
    </ul>
</div>
<div class="szButton" ng-show="print">
    <button ng-click="szTableReport('pdf')" class="dyButton {{print?'':'displayNone'}}">打印预览</button>
    <button ng-click="szTableReport('xls')" class="xlsButton {{print?'':'displayNone'}}">导出xls</button>
</div>
<table class="tableBlue {{scroll?'tableScroll':''}}">
    <thead>
    <tr>
        <th class="{{r.id}}" id="{{prefix+r.id}}" sz-resizeable sz-table-init-width ng-repeat="r in fields" ng-style="{width:r.width}" ng-if="r.name">
            <div></div>
            <span ng-click="sort_by(r.id)" class="spanp" sz-table-td><p>{{r.name}}</p><i></i></span>
        </th>
        <th class="id" ng-if="state=='delete'" ng-click="deleteAll()" style="width: 50px; text-align: center">删除</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-click="chooseRow(item)" ng-class="{hover:item.selected}" sz-right-click="{{rightClick}}" right-click-param="item">
        <td ng-repeat="r in fields" ng-style="{width:r.width}" ng-if="r.name">
            <!--非更新时-->
            <span ng-if="state!='update'">
                <span ng-if="(!r.exp)" class="spanp" sz-table-td ng-click="chooseItem(item,r)"><p>{{item[r.id] | szTableFilter:r.id:r.date}}</p></span>
                <span ng-if="r.exp" class="spanp" sz-table-td><p>{{parse(r.exp)(item)}}</p></span>
            </span>
            <!--更新时-->
            <span ng-if="state=='update'">
                <!--静态的-->
                <span ng-if="parse(r.static)(item)">
                    <span ng-if="(!r.exp)" class="spanp" sz-table-td ng-click="chooseItem(item,r)"><p>{{item[r.id] | szTableFilter:r.id:r.date}}</p></span>
                    <span ng-if="r.exp" class="spanp" sz-table-td><p>{{parse(r.exp)(item)}}</p></span>
                </span>
                <!--可编辑的-->
                <span ng-if="!parse(r.static)(item)">
                    <!--有选项的-->
                    <span ng-if="r.selectId">
                        <!--自由输入，不强制选择-->
                        <span ng-if="r.freeSelect">
                            <input ng-model="item[r.id]" ng-change="updateChoose(item,r)" placeholder="{{r.notNull?'不可为空':''}}" sz-select="selectList[r.selectId]" not-check-sz-select="parse(r.notCheckSzSelect)(item)" sz-field="r.selectListField">
                        </span>
                        <!--弹出输入框进行复选-->
                        <input ng-if="r.popChoose" ng-click="popChoose(item,r)" ng-model="item[r.id]" readonly>
                        <!--下拉框，强制选择-->
                        <span ng-if="!r.freeSelect && !r.popChoose">
                            <!--带过滤条件的-->
                            <span ng-if="r.filterContent">
                                <select ng-model="item[r.id]" ng-disabled="state!='update'" ng-change="updateChoose(item,r)" ng-options="x for x in selectList[r.selectId] | {{r.filterContent}}:item[r.filterContentId]"></select>
                           </span>
                            <!--不带过滤条件的-->
                            <span ng-if="!r.filterContent">
                                <select ng-model="item[r.id]" ng-disabled="state!='update'" ng-change="updateChoose(item,r)" ng-options="x for x in selectList[r.selectId]"></select>
                            </span>
                        </span>
                    </span>
                    <!--完全手动输入的-->
                    <span ng-if="!r.selectId">
                        <!--最基本的input-->
                        <span ng-if="!r.boolean && r.id.indexOf('Time') == -1 && r.id.indexOf('time') == -1">
                            <input ng-model="item[r.id]" ng-change="updateChoose(item,r)" placeholder="{{r.notNull?'不可为空':''}}">
                        </span>
                        <!--checkBox-->
                        <span ng-if="r.boolean">
                            <input ng-model="item[r.id]" ng-change="updateChoose(item,r)" type="checkbox">
                        </span>
                        <!--日期型-->
                        <span ng-if="r.id.indexOf('Time') > -1 || r.id.indexOf('time') > -1">
                            <div style="width: 160px; overflow: hidden">
                                <input ng-model="item[r.id]" ng-change="updateChoose(item,r)" uib-datepicker-popup placeholder="{{r.notNull?'不可为空':''}}" class="{{r.date=='short'?'flnone':''}}" style="float: left; width: 80px;">
                            <div class="timeSfm" ng-if="r.date!='short'">
                                <uib-timepicker show-spinners="false" ng-model="item[r.id]" show-meridian="false" show-seconds="true"></uib-timepicker>
                            </div>
                            </div>
                        </span>
                    </span>
                </span>
            </span>
        </td>
        <td ng-if="state=='delete'" style="width: 50px; text-align: center"><input type="checkbox" ng-click="deleteChoose(item)" ng-model="item.ifDelete"></td>
    </tr>
    <tr ng-if="state=='add'" ng-style="{width:r.width}">
        <td ng-repeat="r in fields" ng-if="r.name">
            <!--静态的-->
            <span ng-if="parse(r.static)(addItem)">
                    <span ng-if="(!r.exp)" class="spanp" sz-table-td><p>{{addItem[r.id] | szTableFilter:r.id:r.date}}</p></span>
                    <span ng-if="r.exp" class="spanp" sz-table-td><p>{{parse(r.exp)(addItem)}}</p></span>
                </span>
            <!--可编辑的-->
            <span ng-if="!parse(r.static)(addItem)">
                    <!--有选项的-->
                    <span ng-if="r.selectId">
                        <!--自由输入，不强制选择-->
                        <span ng-if="r.freeSelect">
                            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" placeholder="{{r.notNull?'不可为空':''}}" sz-select="selectList[r.selectId]" not-check-sz-select="parse(r.notCheckSzSelect)(addItem)" sz-field="r.selectListField">
                        </span>
                        <!--弹出输入框进行复选-->
                        <input ng-if="r.popChoose" ng-click="popChoose(addItem,r)" ng-model="addItem[r.id]" readonly>
                        <!--下拉框，强制选择-->
                        <span ng-if="!r.freeSelect && !r.popChoose">
                            <!--带过滤条件的-->
                            <span ng-if="r.filterContent">
                                <select ng-model="addItem[r.id]" ng-change="addChoose(r)" ng-options="x for x in selectList[r.selectId] | {{r.filterContent}}:addItem[r.filterContentId]"></select>
                           </span>
                            <!--不带过滤条件的-->
                            <span ng-if="!r.filterContent">
                                <select ng-model="addItem[r.id]" ng-change="addChoose(r)" ng-options="x for x in selectList[r.selectId]"></select>
                            </span>
                        </span>
                    </span>
                <!--完全手动输入的-->
                    <span ng-if="!r.selectId">
                        <!--最基本的input-->
                        <span ng-if="!r.boolean && r.id.indexOf('Time') == -1 && r.id.indexOf('time') == -1">
                            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" placeholder="{{r.notNull?'不可为空':''}}">
                        </span>
                        <!--checkBox-->
                        <span ng-if="r.boolean">
                            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" type="checkbox">
                        </span>
                        <!--日期型-->
                        <span ng-if="r.id.indexOf('Time') > -1 || r.id.indexOf('time') > -1">
                            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" uib-datepicker-popup placeholder="{{r.notNull?'不可为空':''}}" class="{{r.date=='short'?'flnone':''}}" style=" display: inline-block; width: 80px;">
                            <div class="timeSfm" ng-if="r.date!='short'" style="display: inline-block">
                                <uib-timepicker show-spinners="false" ng-model="addItem[r.id]" show-meridian="false" show-seconds="true"></uib-timepicker>
                            </div>

                        </span>
                    </span>
                </span>

            <!--<input ng-model="addItem[r.id]" ng-if="!r.selectId&&!r.boolean" ng-change="addChoose(r)" ng-disabled="parse(r.static)(addItem)" uib-datepicker-popup if-uib-datepicker-popup="r.id.indexOf('Time') > -1 || r.id.indexOf('time') > -1" sz-focus="$index==0" placeholder="{{r.notNull?'不可为空':''}}" class="{{r.date=='short'?'flnone':''}}">
            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" ng-if="!r.selectId&&r.boolean" type="checkbox">&lt;!&ndash;是否选择&ndash;&gt;
            <input ng-model="addItem[r.id]" ng-change="addChoose(r)" ng-if="r.selectId&&r.freeSelect" sz-select="selectList[r.selectId]" sz-field="r.selectListField">&lt;!&ndash;自由输入&ndash;&gt;
            <input ng-model="addItem[r.id]" ng-click="popChoose(addItem,r)" ng-if="r.selectId&&r.popChoose">&lt;!&ndash;自由输入&ndash;&gt;
            <select ng-model="addItem[r.id]" ng-if="r.selectId && !r.filterContent &&!r.freeSelect&&!r.popChoose" ng-options="x for x in selectList[r.selectId]" sz-focus="$index==0" ng-change="addChoose(r)"></select>
            <select ng-model="addItem[r.id]" ng-if="r.selectId && r.filterContent &&!r.freeSelect&&!r.popChoose" ng-options="x for x in selectList[r.selectId] | {{r.filterContent}}:addItem[r.filterContentId]" sz-focus="$index==0" ng-change="addChoose(r)"></select>-->
        </td>
    </tr>
    </tbody>
</table>
<div class="tableFoot" ng-show="sumMessage!='合计 '"><span>{{sumMessage}}</span></div>
<div class="tableFoot" ng-show="remark"><span>{{remark}}</span></div>
<div class="pull-right">
    <ul class="pagination">
        <li>
            <div ng-show="updateWrongMsg">{{updateWrongMsg}}</div>
            <div ng-show="addWrongMsg">{{addWrongMsg}}</div>
            <input value="增加" type="button" ng-show="state=='none'&& button.indexOf('add')==-1" ng-click="addBegin()">
            <input value="保存" type="button" ng-show="state=='add'" ng-click="add()" ng-disabled="wrongMsg || wrongMsg2">
            <input value="取消" type="button" ng-show="state=='add'" ng-click="cancel()">
            <input value="修改" type="button" ng-show="state=='none'&& button.indexOf('update')==-1" ng-click="updateBegin()">
            <input value="保存" type="button" ng-show="state=='update'" ng-click="update()" ng-disabled="wrongMsg">
            <input value="取消" type="button" ng-show="state=='update'" ng-click="cancel()">
            <input value="删除" type="button" ng-show="state=='none'&& button.indexOf('delete')==-1" ng-click="deleteBegin()">
            <input value="确认" type="button" ng-show="state=='delete'" ng-click="delete()">
            <input value="取消" type="button" ng-show="state=='delete'" ng-click="cancel()">
        </li>
        <li ng-if="pagedItems.length>1" ng-class="{disabled: currentPage == 0}">
            <a ng-click="prevPage()">« Prev</a>
        </li>
        <li ng-if="pagedItems.length>1" ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}">
            <span ng-show="n==4 && !showAllPage" ng-click="showAllPageClick()">...</span>
            <a ng-bind="n + 1" ng-click="setPage(n)" ng-show="n<3 || n==pagedItems.length-1 || showAllPage"></a>
        </li>
        <li ng-if="pagedItems.length>1" ng-class="{disabled: currentPage == pagedItems.length - 1}">
            <a ng-click="nextPage()">Next »</a>
        </li>
    </ul>
</div>
<div class="clear"></div>