<div id="content" class="ddDing">
    <sz-tab>
        <sz-pane title="操作日志">
            <div class="tableBox">
                <sz-table fields="userLogFields" head="true" deep-search="true" button="add update delete" search-condition="condition" max-num="200" items-per-page="15"  print="操作日志"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="已开房间" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="checkInFields" head="true" deep-search="true" button="add update delete" row-click="chooseCheckIn(d)" print="在店宾客"></sz-table>
                <div class="szSheet" style="margin-top:100px;">
                    <sz-tab>
                        <sz-pane title="客人信息">
                            <sz-table fields="checkInGuestFields" button="add update delete" search-condition="checkInGuestCondition"></sz-table>
                        </sz-pane>
                    </sz-tab>
                </div>
            </div>
        </sz-pane>
        <sz-pane title="来店记录" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="checkInIntegrationFields" outer-refresh="initRemark(d)" remark="checkInIntegrationRemark" head="true" deep-search="true" button="add update delete" max-num="200" print="来店记录"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="退房记录" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="checkOutFields" head="true" deep-search="true" button="add update delete" max-num="200" row-click="chooseCheckOut(d)" right-click="rightClickDebt"></sz-table>
                <div class="szSheet" style="margin-top:100px;">
                    <sz-tab>
                        <sz-pane title="客人信息">
                            <sz-table fields="checkOutRoomFields" button="add update delete" search-condition="checkOutRoomCondition"></sz-table>
                        </sz-pane>
                    </sz-tab>
                </div>
            </div>
        </sz-pane>
        <sz-pane title="账务明细" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="debtIntegrationFields" head="true" deep-search="true" button="add update delete" max-num="200" items-per-page="15" print="账务明细"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="结账明细" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="debtPayFields" head="true" deep-search="true" button="add update delete" max-num="200" right-click="rightClickDebt" items-per-page="15" print="结账明细"></sz-table>
            </div>
        </sz-pane>
        <sz-pane title="房吧零售" ng-if="category=='reception' || category==null">
            <div class="tableBox">
                <sz-table fields="roomShopDetailFields" head="true" deep-search="true" button="add update delete" max-num="200" right-click="rightClickDebt" items-per-page="15"></sz-table>
            </div>
        </sz-pane>
    </sz-tab>
</div>
<sz-pop-up name="reception/rightClickDebt/rightClickDebt.html" back="white"></sz-pop-up>
<sz-pop-up name="reception/debtDetail/debtDetail.html"></sz-pop-up>
<sz-pop-up name="restaurant/rightClickDesk/rightClickDesk.html" back="white"></sz-pop-up>
<sz-pop-up name="restaurant/deskDetailHistory/deskDetailHistory.html"></sz-pop-up>
<sz-pop-up name="reception/lostRoom/lostRoom.html"></sz-pop-up>