<div class="tanchuang huang" ng-controller="deskDetailHistoryController" style="width: 1000px; left: 20%" ng-if="pop" drag>
    <dl class="tctit"><h1>明细查看</h1></dl>
    <div class="tcDiv">
        <div class="szSheet">
            <sz-tab>
                <sz-pane title="消费明细">
                    <sz-table fields="deskDetailHistoryFields" items="deskDetailHistoryList" button="add update delete" search-condition="deskDetailHistoryCondition" init-refresh="deskDetailHistoryRefresh(f)"></sz-table>
                </sz-pane>
                <sz-pane title="结算明细" ng-if="param.ckSerial">
                    <sz-table fields="deskPayFields" button="add update delete" search-condition="deskPayCondition" remark="deskPayRemark"></sz-table>
                </sz-pane>
            </sz-tab>
        </div>
    </div>

    <div class="closeBox" ng-click="closePop('deskDetailHistory')">+</div>
    <div class="drig" drag-handle></div>
</div>