<div class="tanchuang" style="z-index: 997" ng-if="pop" ng-controller="roomShopInController" sz-pop-top drag>
    <dl class="tctit"><h1>房吧录入</h1></dl>
    <div class="tcDiv">
        <div class="snackbox fr" style="margin-top:40px;">
            <h1>已选商品</h1>
            <div class="tsRightDiv huang">
                <sz-table fields="chooseItemFields" items="chooseItemList" button="add"></sz-table>
            </div>

            <table class="tableBorderfff" style="width: 380px; margin-left: 10px;">
                <tr>
                    <td>房号：</td>
                    <td>{{room.roomId}}</td>
                    <td>客人：</td>
                    <td>
                        <select ng-options="x.name for x in room.checkInGuestList" ng-model="checkInGuest" style="width: 70px;"></select>
                    </td>
                    <td><span class="red">合计：</span></td>
                    <td style="width: 50px;"><span class="red">￥{{calculateMoney(chooseItemList)}}</span></td>

                </tr>

            </table>
        </div>
        <div class="snackbox fl" style="width: 500px">
            <sz-table fields="roomShopFields" head="true" button="add update delete" row-click="chooseItem(chooseItemList,d,num)" search-condition="condition"></sz-table>
            <input value="数量" ng-model="num" type="text" style="width: 180px" placeholder="选择前请在此输入数量！">
        </div>
        <div class="clear"></div>
        <dl class="button">
            <button class="sbe" sz-submit ng-click="confirm()" sz-permission="房吧">记账</button>
        </dl>
    </div>
    <div class="closeBox" ng-click="closePop('roomShopIn')">+</div>
    <div class="drig" drag-handle></div>
</div>

