<div ng-if="pop" ng-controller="messageController" class="tsPop" drag sz-pop-width>

    <!--success-->
    <div class="successBox" ng-if="message.type=='success'">
        <p>{{message.content}}</p>
    </div>

    <!--error-->

    <div class="errorBox" ng-if="message.type=='error'">
        <p>
            {{message.content}}

        </p>
    </div>


    <!--choose-->
    <div class="chooseBox" ng-if="message.type=='choose'">
        <p>{{message.content}}<br>
            <button ng-click="ok()" class="fff">是</button>
            <button ng-click="cancel()">否</button>
        </p>
    </div>

    <!--alert-->
    <div class="alterBox" ng-if="message.type=='alert'">
        <p ng-bind="message.content"></p>
    </div>
    <div class="tsTime"><p>{{now|date:'yyyy-MM-dd HH:mm:ss'}}</p></div>
    <div class="closeBox close2" ng-click="close()">+</div>
    <div class="drig" drag-handle></div>
</div>