.canUseRoom { border: 2px solid #ccc; padding-top: 10px; position: relative; height: auto!important; max-height: 470px; padding-bottom: 20px;}
.canUseRoom .curTit { width: 100px; height: 20px; line-height: 20px; position: absolute;
    top:-10px; text-align: center; font-size: 16px; color: #0e90d2; background: #e1eaff; left: 50%; margin: 0px; margin-left: -50px;}

.checkInDiv { margin-left: 400px;}
.checkInEnter {padding: 10px; border:5px solid #fff;background: #f1eae1;
    -webkit-box-shadow: 1px 1px 0px #bbb;
    -moz-box-shadow: 1px 1px 0px #bbb;
    box-shadow: 1px 1px 0px #bbb; margin-top: 20px; display: inline-block}
.checkInEnter:after { content: ''; height: 0px; line-height: 0px; display: block; overflow: hidden; clear: both}
.checkInEnter ul { float: left; width: 100%}
.checkInEnter ul li {padding: 5px 5px 5px 0px; height: 25px; line-height: 25px; width: 250px; position: relative; float: left}
.checkInEnter ul li label {
    width:100px;
    float: left;
    text-align: right;
    line-height: 24px;
    font-weight:normal;
}
.checkInEnter>ul>li>input[type=text] { width: 120px;}
.checkInEnter>ul>li>select { width: 131px;}


.szSheet .tableTabBox,.detailTable { padding: 10px 10px; padding-bottom: 20px; border: 1px solid #ddd; background: #f1f1f1; min-height: 230px; margin: 50px 0px 0px 0px; position: relative}
.szSheet .tableTabTitBox { width: 100%!important; height: 30px!important; position: absolute!important; top:-31px; left: -1px;  background: none!important; border: 0px!important;}
.szSheet .tableTabTitBox ul { margin: 0px!important;}
.detailTable h1 { background-color: #f1f1f1!important; border-left: 1px solid #ddd!important;border-right: 1px solid #ddd!important;border-bottom: 0px!important; height: 32px!important; line-height: 32px!important; position: absolute; top:-38px; left: -1px;}
.szSheet .tableTabTit,.detailTable h1 {
    width: 100px;
    text-align: center!important;
    font-size: 14px!important;
    color: #333!important;
    font-weight: normal!important;
    float: left;
    border-top: 1px solid #ddd!important;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px!important;
    margin: 0px;
    margin-top: 5px!important;
    cursor: pointer!important;
    background-image: none!important;
    padding: 0px!important;
}
.szSheet .tableTabTit:first-child{ border-left:1px solid #ddd!important;    background: none!important; line-height: 25px!important; }
.szSheet .tableTabTit:last-child{ border-right:1px solid #ddd!important;    background: none!important; line-height: 25px!important;}
.szSheet .tableTabTitBox .hover {
    background: #f1f1f1!important;
    border: 1px solid #ddd;
    height: 32px!important;
    line-height: 32px!important;
    margin-top: -2px!important;
    border-bottom: 0px!important;}
.szSheet .iframeDiv{ margin: 0px; padding: 0px; padding-bottom: 20px;}

/*
.checkInDiv .tableName { padding: 20px 10px; border: 1px solid #ddd; background: #f1f1f1; height: 230px; margin: 50px 0px 0px 0px; position: relative}
.checkInDiv .tableName ul { width: 100%; height: 30px; position: absolute; top:-31px; left: -1px;}
.checkInDiv .tableName ul h1 { width: 100px; height: 30px; line-height: 30px;text-align: center; font-size: 14px; color: #333;
    float: left; background: #fff; margin: 0px; cursor: pointer;
}
.checkInDiv .tableName ul h1.hover { background: #f1f1f1!important; border: 1px solid #ddd; border-bottom:0px; }*/
