* {  outline:none;}
html,body { margin: 0px; padding: 0px; width: 100%; height: 100%;}
/*.saixuanbox input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c9d9ff;
}

.saixuanbox input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c9d9ff;
}*/

::selection {
    background:none;
}
::-moz-selection {
    background:none;
}

.tsPop p::selection,input::selection {
    background: #1aa8f1!important; color: #fff;
}
.tsPop p::-moz-selection,input::-moz-selection {
    background:#1aa8f1!important; color: #fff;
}


ul,li,dl,dt,dd { margin: 0px; padding: 0px;list-style: none}
a,a:hover,a:active,a:checked,a:focus { text-decoration: none; cursor: pointer}
.lv { color: #507b04}
.red,.red2 { color: #cc0000}
.red:hover,.red2:hover { color: #cc0000}
.yellow{ color:#bb7112}
.yellow:hover{ color:#bb7112}
.lan { color: #085cb3}
.lan2 { color: #085cb3; width: 70px; display: inline-block; text-align: right;}
.fl2 { float: left; margin: 0px; margin-right: 10px; margin-bottom: 3px; text-align: left; position: relative}
.displayNone { display: none}

#content {
    background: none repeat scroll 0 0 #fff;
    margin-right: 0;
    padding-bottom: 25px;
    /*position: relative;*/
    min-height: 900px;
    width: auto;
    outline: none;
    height: 100%;
    margin-top: 95px!important;
}


#main { margin: 20px; padding-top:40px;}
#main:after { content: ''; height: 0px; line-height: 0px; display: block; clear: both; overflow: hidden}

.weizhi {
    height: 50px;
    line-height:50px;
    text-align: left;
    font-size:14px;
    color: #666;
    background: url(../images/wzdot.png) no-repeat left;
    padding-left:35px;
    margin: 0px 20px;
}
.weizhiBottom { height: 5px; line-height: 5px; overflow: hidden; background: #6b8bdf; margin:0px 20px 20px 20px;}
.saixuanbox .weizhi {
    text-align: left;
    font-size:14px;
    color: #fff;
    background: url(../images/wzdot2.png) no-repeat left;
    padding-left:35px;
    height: 30px;line-height: 30px;margin-left: 0px;
}
.saixuanbox { margin: 20px 20px; font-size: 14px; height: auto; padding-top:20px}
.saixuanbox input[type=text],.saixuanbox select{ margin-top: 3px; border: 1px solid #ccc!important; color: #666;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; box-shadow: none; height: 25px; line-height: 25px;}
.saixuanbox select { background:url(../images/my_xiala2.png) no-repeat right!important; appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none; height: 26px; line-height: 20px;}
.saixuanbox select option { background: #fff; line-height: 20px; height: 20px; color:#666;}
.saixuanbox input[type=text]{ outline: none; height: 25px; line-height: 25px;}
.saixuanbox input:focus { box-shadow: none; border: 1px solid #ccc;}
.saixuanbox .saixuanul { height: auto; float: left;}
.saixuanbox:after,.cy:after { content: ''; display: block; width: 100%; height: 0px; line-height: 0px; clear: both}
.cy:after { clear: none!important;}
.saixuanbox .saixuanul:after{ clear: both; content: ''; height: 0px; line-height: 0px; overflow: hidden; display: block}
.saixuanbox .saixuanul .sxli { float: left; height: 35px;  margin-right: 30px; border: 1px solid #b5c5ef; border-radius:5px;position: relative; color: #fff;cursor:pointer; background-color: #89a2e5;}
.saixuanbox .saixuanul .sxli2 { float: left; height: 30px; line-height: 30px;  margin-right: 30px; position: relative; }
.saixuanbox .saixuanul .sxtit{ float: left; margin-right: 10px; height: 30px; line-height: 30px; color: #666; font-weight: bold;}
.saixuanbox .styleSheet { float: right; font-size:14px; color: #666; margin-top: 10px; margin-right: 40px;}
.saixuanbox .styleSheet p { float: left}
.saixuanbox .styleSheet a { display: block; border: 1px solid #ccc; float: left; margin: 0px 5px; background: #fff }
.saixuanbox .styleSheet a.little { width: 15px; height: 15px; background: #547ee3;
    -webkit-box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff;
    -moz-box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff;
    box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff;
}
.saixuanbox .styleSheet a.big { width: 15px; height: 15px;
    -webkit-box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff;
    -moz-box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff;
    box-shadow: inset 2px 2px 0px #fff,inset -2px -2px 0px #fff; text-align: center;
}
.saixuanbox .styleSheet a.icon-info-sign { width: 15px; height: 15px; line-height: 15px; text-align: center; font-size: 12px; color: #ea7900}

.saixuanbox .tongji { float: left; margin-top: 5px;}
.saixuanbox .tongji p { float: left; margin-right: 15px;}

.my_fresh { padding:2px 10px; line-height: 30px; padding-left: 30px; position: relative}
.sx_xl { padding:2px 10px; position: relative; display:inline-block; text-align: left;}
.sx_xl_txt { width:auto; height: 30px; line-height: 30px; color: #fff; padding-left: 25px; padding-right: 30px; background: url(../images/my_xiala1.png) no-repeat right;}
.sx_xl_list{border:1px solid #ccc; background: #fff;}
.sx_xl_txt,.sx_xl_list li{text-indent:0px;overflow:hidden;}
.sx_xl_list{z-index:99;position:absolute;top: 45px;left:-1px;z-index:88888;border-top:none; border-bottom: 0px; width:100%;display:none;_top:34px;margin-left:0px !important;}
.sx_xl_list:after { position: absolute;top: -7px;left: 49%;display: inline-block;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-left: 7px solid transparent;border-bottom-color: #fff;content: '';}
.sx_xl_list li{list-style:none;height: 30px;line-height: 30px;cursor:default;background:#fff;color:#666; border-bottom: 1px solid #ccc; width: 100%;}
.sx_xl_list li span { padding-left: 10px;}
.sx_xl_list li.focus{background:#3399FF;color:#fff}

.saixuanbox ul li i { position: absolute; left: 10px; top:10px;}

body {
    margin: 0px;
    padding: 0px;
    font-family:"Microsoft Yahei";
    font-size: 12px;
    color: #333;
    width: 100%;
    overflow-x: hidden;
}
table {width: 100%; margin: 0px; padding: 0px; border-collapse: collapse; border-spacing: 0;}
td { text-align: center}
ul,li,dl,dt,dd{ list-style: none}
a { text-decoration: none; color: #000}
a:hover { text-decoration: none}
.clear { width:100%; height: 1px; line-height: 1px; overflow: hidden; clear: both;}
input[type=checkbox],input[type=radio]{ margin-top: -2px; margin-right: 5px; outline: none; width: auto!important; float: none!important;}
button {
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #ccc;
    background: linear-gradient(#f4f4f4,#e1e1e1);
    height: 30px;
    cursor: pointer!important;
}
button:hover {background: linear-gradient(#e1e1e1,#f4f4f4);}
button.hover { background: #a14e04; color: #fff}
.content {
    padding:0px 20px;
    background: #eee;
}
.fr{ float: right}
.fl{ float: left}

.button {  background: none; margin-top: 20px; text-align: center; padding-top: 20px;}
.button input[type=button],.button a.sbe,.button a.sbeyellow { padding: 9px 20px; text-align: center; margin: 0px auto; margin-right: 10px; border:1px solid #bbb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px; background: linear-gradient(#cfcfcf,#afafaf);
    color: #000; cursor: pointer; font-weight: bold; margin-bottom: 10px;}
.button a.sbe:hover { background: linear-gradient(#eee,#afafaf);}
.button a.sbeyellow {background: linear-gradient(#f19300,#ae6a00); color: #fff;}
.button a.sbeyellow:hover { background: linear-gradient(#ffac29,#ae6a00); color: #fff2de}
.button i { margin-right: 5px;}
.button i.icon-ok { color: #218e03}
.button i.icon-remove { color: #b70000}
.button i.icon-edit { color:#9a6407; font-size: 18px;}
.button i.icon-signout { color: #0067b7; font-size: 18px;}
.button i.icon-print{color: #0067b7; }/*打印*/
.button i.icon-search { color: #77a515}/*查询*/
.button i.icon-user { color: #da7600}/*读取会员*/
.button i.icon-inbox { color:#d41212;}/*哑房处理*/
.button i.icon-share { color: #0067b7}/*转房客*/
.button i.icon-external-link { color:#77a515}/*转单位*/
.button i.icon-plus { color: #d20000;}


.button .gray {background: linear-gradient(#ff8400, #a75a07);  color:#000; border: 1px solid #ccc}
.button .red { background: linear-gradient(#a02121,#721010); color:#fff; border: 1px solid #ccc}

.nameButton { padding: 5px 10px; line-height: 20px; border: 2px solid #b5c5ef; border-radius: 5px; float: left; cursor: pointer; margin-right: 13px; background: #e3d9c0;color: #705614;}
.nameButton a { color: #705614;}
.nameButton.hover,.nameButton:hover  { border: 2px solid #fff; background: #4666b9; color: #fff; font-weight: bold;}
.nameButton.hover a,.nameButton:hover a { color: #fff;}



.littleButton input[type=button]{ padding: 5px 12px; text-align: center; margin-right: 9px; border:1px solid #ba9761;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; background: linear-gradient(#ffd777,#a16200);
    color: #fff; cursor: pointer; font-weight: bold; margin-bottom: 10px;
    -webkit-box-shadow: inset -1px -1px 0px #fff6d0,inset 1px 1px 0px #fff6d0;
    -moz-box-shadow: inset -1px -1px 0px #fff6d0;
    box-shadow:inset -1px 0px 0px #c2a16e, inset 0px -1px 0px #c2a16e,inset 1px 1px 0px #e2c089; margin-left: -10px}
.littleButton input[type=button]:hover { background: linear-gradient(#a16200,#ffd777);}


#np-pop-iframe {width: 100%; z-index: 9998; position: fixed; top: 0px; left: 0px; border: none; overflow: hidden; height: 100%;}
#np-pop-iframe-print {width: 100%; z-index: 9999; position: fixed; top: 0px; left: 0px; border: none; overflow: hidden; height: 100%;}

/*错误提示泡泡*/
.tsRightDiv { position: relative; width: 100%}
.tsRightDiv .submitTishi { right: 0px; left: auto}
.submitTishi{
    position: absolute;
    min-width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #cc0000;
    font-size: 14px;
    top: -30px;
    left: 0px;
    border-radius: 5px;
    padding: 0px 5px;
    background: #e1e1e1;
    border: 1px solid #d1d1d1;
}
.submitTishi:after{
    content: '';
    position: absolute;
    border-top: 10px solid #e1e1e1;
    border-left: 18px solid transparent;
    border-right: 0px solid transparent;
    top: 23px;
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
}

.userTishi { position: relative}
.userTishi:hover:after, .menubox .userTishi:hover:after{
    content: '权限不足';
    position: absolute;
    min-width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #cc0000;
    font-size: 14px;
    top: -30px;
    left: 0px;
    border-radius: 5px;
    padding: 0px 5px;
    background: #e1e1e1;
    border: 1px solid #d1d1d1;
    font-weight: normal;
}
.menubox .userTishi:hover:after {
    content: '权限不足';
    position: absolute;
    min-width: 87px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #cc0000;
    font-size: 14px;
    top: 30px;
    left: 0px;
    border-radius: 5px;
    padding: 0px;
    background: #e1e1e1;
    border: 1px solid #d1d1d1;
    font-weight: normal;
    z-index: 999;}

    /*toggle*/
.contentToggle { display: none}

/*调整列宽*/
.rc-handle-container{position:relative;}
.rc-handle{position:absolute;width:7px;cursor:ew-resize;*cursor:pointer;margin-left:-3px;}

/*时分秒样式*/
.timeSfm { height: 25px; width: 130px; display: inline-block; float: left}
.timeSfm table { padding: 0px 5px!important; margin: 0px;}
.timeSfm table td { border: none; padding: 0px}
.timeSfm table td input { border: 1px solid #bbb; width: 20px!important; height: 24px; line-height: 24px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}

/*tableBlue时分秒样式*/
.tableBlue .timeSfm { width: 70px!important; float: left; height: 22px!important;}
.tableBlue .timeSfm table tr { background: none!important;}
.tableBlue .timeSfm table td { border: none!important; padding: 0px!important; height: 22px; line-height: 22px;}
.tableBlue .timeSfm table td input{ border: 0px!important; padding: 0px; box-shadow: none; height: 22px!important; line-height: 22px!important;}
.tableBlue .ng-valid-date { width: 75px!important; float: left}
.tableBlue tbody tr.hover .timeSfm table td input { color: #ff9000}


.ldli,.lcli { width: auto; position: relative; height: 24px!important; margin-top: 3px; border: 1px solid #ccc; margin-right: 10px; text-align: center; float: left; cursor: pointer}
.ldli li,.lcli li { width: 80px; text-align: center;line-height: 24px!important;  height: 24px!important; margin-right: 0px!important;}
.lpul { position: absolute; left: 0px; top:30px; max-height: 120px; overflow-y: auto; width: 80px; border: 1px solid #ccc; z-index: 888; background: #fff; padding: 10px; display: inline}
.lcli .lpul { width: 180px;}

.lpul span a.hover { background: #5091dc; color: #fff;
     }
.lpul span a { display: inline-block;text-align: center;  border:1px solid #5091dc; background: none; width: 20px; height: 20px; line-height: 20px;-webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;float: left; margin: 5px;}
.lpan,.lcan { display: none;}
.riqi {float: right!important; margin-right: 10px; font-size: 16px!important; color: red!important;text-shadow: none!important;font-weight: bold;}


/*hover提示*/
.tsHoverDiv { float: left}
.tsHoverDiv button { float: left}
.tsHoverDiv span {  float: left;margin:0px 10px; font-size: 12px; line-height: 30px; display: none; color: #de993f;}
.tsHoverDiv:hover span { display: block;}
