.flnone {float:none!important;}
.flnone.ng-valid-date { width: 100%!important;}


.bookBox { margin: 20px; border: 1px solid #ccc; border-radius: 5px; position: relative;}
.bookListHead { position:absolute; width: 100%; z-index: 9; line-height: 35px; border-radius: 5px 5px 0px 0px; font-size: 14px; background: #6b8bdf}
.listHead { margin: 0px;}
.listHead tr td { border-right: 1px solid #fff; padding: 5px 5px; line-height: 24px; text-align:center; height: auto; color:#fff; font-weight: bold;
    /*text-shadow: 1px 0px 0px #fff,0px 1px 0px #fff,-1px 0px 0px #fff,0px -1px 0px #fff*/}
.listHead tr td:last-child{ border-right: none}

.tableBookDiv { height: 310px; overflow-y:scroll; margin-top: 35px;}
.tableBook { }
.tableBook tr { height: 30px; line-height: 30px; border-bottom: 1px solid #fff;}
.tableBook tr:nth-child(odd) { background: #c0cae3;}
.tableBook tr:nth-child(even) { background: #e1eaff;}
.tableBook tr td { border-right:1px solid #fff; padding: 5px; line-height: 20px; height: auto; font-weight: normal; text-align: center; width: auto}
.tableBook tr:hover{ background: #8faaef; cursor: pointer;}
.tableBook tr.select{  background: #8faaef;}

.tableBox { margin: 0px 20px}
.tableBlue { box-shadow: 0px 1px 0px #ccc; -webkit-box-shadow: 0px 1px 0px #ccc; -moz-box-shadow: 0px 1px 0px #ccc;border-collapse: collapse; border-bottom: 1px solid #ccc;  }
.tableBlue tbody tr:nth-child(odd),.detailTable .tableEasy tbody tr:nth-child(odd) td  { background: #dce6fe;}
.tableBlue tbody tr:nth-child(even),.detailTable .tableEasy tbody tr:nth-child(even) td { background: #eaf0fe;}
.detailTable .tableEasy tbody tr:last-child td { border-bottom: 2px solid #ccc!important;}
.tableBlue tbody tr td,.detailTable .tableEasy tbody tr td { border-right:1px solid #fff;border-bottom: 1px solid #fff; position: relative;  font-size: 13px; padding:0px 5px; height: 25px; font-weight: normal; text-align: left;}
.tableBlue .spanp { height: 25px; line-height: 25px; display: block; top:0px; left: 0px; overflow: hidden; text-align:left; position: relative}
.tableBlue .spanp:hover { overflow: visible}
.tableBlue .spanp p {  white-space: nowrap; padding: 0px; position: absolute; z-index: 777}
.tableBlue thead .spanp { text-align: center; height: 20px; line-height: 20px;}
.tableBlue thead .spanp p { position: absolute; left: 0px; right: 0px;}
.tableBlue thead .spanp i { position: absolute; right: 5px; top:5px;}
/*.tableBlue tbody tr td:hover span { overflow: visible; height: auto}*/
.tableBlue tbody tr td:last-child,.detailTable .tableEasy tbody tr td:last-child { border-right:none!important;}
.tableBlue tbody tr:last-child td{ border-bottom: none}
.tableBlue tbody tr:hover{ background: #d4e0ff; cursor: pointer;}
.tableBlue tbody tr.hover{ background: #d4e0ff; cursor: pointer;color:#ff9000;}
.tableBlue tbody tr.hover select {color:#ff9000;}
.tableBlue thead th span {
    width: 100%; line-height: 20px; display: block; position: relative;
    cursor:pointer;}
.tableBlue thead th .icon-sort { width: 20px; line-height: 20px; top:0px; right:0px; margin-left: 10px;color: #fff; /*color:rgba(255,255,255,0);*/ position: absolute}
.tableBlue thead th span:hover .icon-sort { color: #fff}

.tableBlue thead tr,.detailTable .tableEasy tr th { background:#6b8bdf; border-bottom: 1px solid #6375bb; line-height: 35px;}
.tableBlue tbody input,.tableBlue tbody select,.detailTable .tableEasy tbody input,.detailTable .tableEasy tbody select{ border: none!important; background: none; font-size: 13px; height: 22px; cursor: pointer; line-height: 22px; padding: 0px;}
.detailTable .tableEasy tbody input,.detailTable .tableEasy tbody select { border: none!important;}
.tableBlue tbody input[type=checkbox] { height: auto; line-height: normal}
.tableBlue tbody input:focus{ background:#fff;}
.detailTable .tableEasy tbody input:focus{ background:#fff!important;}
.tableBlue tbody select:focus,.detailTable .tableEasy tbody select:focus { border: none;background: #fff url(../images/my_xiala1.gif) 93% 9px no-repeat; cursor: text!important; }
.tableBlue tbody input[readonly=readonly],.tableBlue tbody select[disabled=disabled]{ border: none!important; background:none;}
.tableBlue tbody input:hover, .tableBlue tbody select:hover, .tableBlue tbody textarea:hover {
    border:none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.tanchuang .tableBlue tbody input:hover, .tanchuang .tableBlue tbody select:hover, .tanchuang .tableBlue tbody textarea:hover {
    border:none!important;
    outline: 0!important;
    -webkit-box-shadow:none!important;
    box-shadow: none!important;
}

.tableBlue thead tr th,.detailTable .tableEasy tr th{  border-right: 1px solid #8dacfe!important; padding: 6px 5px; line-height: 20px; position: relative; font-size: 14px; text-align:center; height: auto; color:#fff; font-weight: bold;}
.tableBlue thead tr th div { position: absolute; right:-8px; top:0px; height: 32px; width: 15px; cursor: ew-resize; }
.tableBlue thead tr th:last-child div {display: none}
.tableBlue thead tr th div:active{ cursor: ew-resize}
.tableBlue tfoot tr { background: #eee; color: #5771d9; border-bottom: 1px solid #fff;}
.tableBlue tfoot tr:last-child { border-bottom: none;}
.tableBlue tfoot tr td { border-right: 1px solid #fff; padding: 2px 5px; line-height: 24px; height: auto; }
.tableBlue tfoot tr td:last-child { border-right: none}
.tableFoot {width: 100%; line-height: 25px; height: 25px; border-bottom: 1px solid #ccc; text-align: right; font-weight: bold;}
.tableFoot span { margin: 0px 10px;}
.tableFoot span.class2 { color: #0c60ee; text-decoration: underline; cursor: pointer}



.saixuanul .button { border: 0px!important; margin-top:0px; padding-top: 0px; }
.button a.sbeyellow { display: block; float: left; padding: 0px 10px!important;}
.saixuanul .button a { padding-left: 30px!important; position: relative}

.canUseRoom { border: 2px solid #ccc; margin-top: 20px; position: relative; height: 200px;}
.canUseRoom .curTit { width: 70px; height: 20px; line-height: 20px; position: absolute;
    top:-20px; text-align: center; font-size: 14px; color: #0e90d2; background: #e1eaff; left: 50%; margin-left: -35px;}


/**分页**/
.page{text-align:center;font-size:12px; float:right;}
.page A{border:#ddd 1px solid;margin:1px;color:#5771d9;text-decoration:none;padding:4px 8px;background:#fff}
.page A:hover{border:#6982e4 1px solid;color:#fff;background-color:#6982e4}
.page A:active{border:#999 1px solid;color:#666;}
.page span{border:#ddd 1px solid;margin:1px;color:#5771d9;text-decoration:none;font-size:12px;padding:4px; cursor:pointer;}
.page span.current{border:#6982e4 1px solid;padding:4px 8px;color:#fff;background-color:#6982e4}
.page span.disabled{border-right:#ddd 1px solid;color: #ddd; background:#fff}


/*参数定义表格*/
.settingTitle { padding: 20px 0px 0px 0px; font-size: 16px; font-weight: bold; color: #6b8bdf; text-align: left;}
.settingHD { margin-bottom: 10px; overflow: hidden}
.settingHD:after { clear: both; display: block; content: ''; height: 0px; line-height: 0px; overflow: hidden;}
.settingHD input { margin-right: 10px;}

/*接待参数*/
.jdDiv { width: 98%; float: left; padding-bottom: 20px; border-bottom:2px solid #eee; padding-left: 2%;}
.jdSetting { padding: 20px 20px 20px 20px; margin: 110px auto; position: relative;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px; background: #dfe9cb;
}
.jdSetting .jdTit { width: 200px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -65px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0px -2px 5px #ccc;
    border-radius: 5px 5px 0px 0px;
    z-index: 1;
    height: 45px;
}

/*高级搜索*/
.xlul { float: left; height: 30px; line-height: 30px;}
.xlName {width: auto; text-align: right; float: left; height: 30px; line-height: 30px; margin-right: 10px; font-weight: bold}
.xlInput { min-width: 130px; float: left; line-height: 25px; margin-top: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; border: 1px solid #ccc;  margin-right: 30px; padding:0px 10px;background: #fff url(../images/my_xiala1.gif) 93% 9px no-repeat;}
.xlBox {width: 150px; padding:0px; position: absolute; top:25px; background: #fff; left: 0px; z-index: 888; border: 1px solid #ccc}
.xlBox span {width: 128px; padding: 0px 10px; line-height: 25px; display: block; color: #999}
.xlBox span:hover { background: #1aa8f1; color: #fff}

/*报表系统*/
.tableTime { width: 80px!important; line-height: 24px; float: none!important; display: inline}
.tableSelect { float: none!important;}
.tableDiv { margin-bottom: 20px; float: left; width: 100%}
.tableDiv li { float: left; display: inline; margin:10px 10px;}
.tableDiv .pagination li { margin: 0px;}

.ddDing .tableTabBox { height: 100%; background: no-repeat; border: none; margin: 0px;}
.ddDing .tableTabBox .tableTabTitBox {  width: 200px; height: 100%; float: left; border-right:1px solid #ccc; background: #dce6fe; position: fixed; z-index: 889}
.ddDing .tableTabBox .tableTabTitBox ul { margin: 20px 0px;}
.ddDing .tableTabBox .tableTabTitBox ul .tableTabTit { border-bottom: 1px solid #fff; display: block; background:#dce6fe url("../images/dot02.png") no-repeat 20px; line-height: 35px; text-align:left; padding-left: 40px; font-size: 14px; color: #666; cursor: pointer;
    -webkit-transition: background .2s,padding-left .2s;
    -moz-transition: background .2s,padding-left .2s;
    -ms-transition: background .2s,padding-left .2s;
    -o-transition: background .2s,padding-left .2s;
    transition: background .2s,padding-left .2s;}
.ddDing .tableTabBox .tableTabTitBox ul .tableTabTit:hover { background: #c3d1f7 url("../images/dot02.png") no-repeat 180px; color: #333; font-weight: bold; padding-left: 20px;  }
.ddDing .tableTabBox .tableTabTitBox ul .tableTabTit.hover { background: #c3d1f7 url("../images/dot02.png") no-repeat 180px; color: #333; font-weight: bold; padding-left: 20px; }

 .iframeDiv {
    margin-left: 220px;
    position: relative;
    padding-top: 50px;
    padding-right: 20px;}
 .iframeDiv .iframeTs { width: 1000px; height: 800px; float: left; font-size: 50px; line-height: 200px; color: #ccc; text-align: center; position:relative; z-index: 1}
.iframeDiv .iframeTs iframe { position: absolute; z-index: 2; left: 0px; top: 0px; border: none}

.contentJL .iframeDiv { margin-left: 200px; padding-top: 20px; width: auto; padding-right: 20px;}
.contentJL .roomStateLabel{ margin-left: -200px;}
.contentJL .roomStateLabel .plef { width: 210px;}
.contentJL .cyStateContent{ padding-top: 0px;}

 .oneTableDiv {}
.oneTableDiv .tableBlue { border: 0px; box-shadow: none}
.oneTableDiv .tableBlue tbody { float: left}
.oneTableDiv .tableBlue tbody { margin-left: 140px; margin-top: -35px;}
.oneTableDiv .tableBlue thead tr {margin-right: 25px!important; position: relative; border:0px;}
.oneTableDiv .tableBlue thead tr th:nth-child(2){ display: none}
.oneTableDiv .tableBlue thead tr:after { content: '--'; font-size: 20px; line-height: 30px; width: 25px; right:-30px; color: #999; position: absolute;}
.oneTableDiv .tableBlue tr { width: 111px; float: left; border-radius: 5px; margin-right: 5px; margin-bottom: 5px; position: relative}
.oneTableDiv .tableBlue tr th,.oneTableDiv .tableBlue tr td { float: left; width: 100px; border: 1px solid #ccc!important; border-radius: 5px; height: 25px; padding: 2px 5px; line-height: 25px;}
.oneTableDiv .tableBlue tbody tr td:nth-child(2){ position: absolute; right:0px; border: none!important; width: 20px; height: 10px; top:5px; z-index: 777;}
.oneTableDiv .pull-right { float: left!important;}


.szButton {position: relative; display: table; width: 100%; height: 30px;}
.dyButton,.xlsButton  {background: #cfdcff;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    float: right;
    border-color: #bfcdf0; position: absolute; right:0px;}
.xlsButton { right:80px;}
.oneTableDiv .dyButton { left: 0px; margin-left: 5px;}
.oneTableDiv .xlsButton { left: 80px;}

@keyframes dotMove {0%{opacity: 0;float: left}100%{opacity: 1; float: right}
}
@-webkit-keyframes dotMove {0%{opacity: 0;float: left}100%{opacity: 1; float: right}
}
@-moz-keyframes dotMove {0%{opacity: 0;float: left}100%{opacity: 1; float: right}
}

@media (min-width:1910px) {
    .iframeDiv { max-width: 1500px; margin-left: 300px; padding-right: 50px;}
    .contentJL .iframeDiv { max-width: 100%;}
}