.userTips { width: 40px; height: 40px; position: fixed; left: 10px; bottom: 10px; cursor: pointer}
.userTips img { width: 40px; height: 40px;}
.userTipsBox { width: 360px; height:auto; background: #fca032;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px; padding: 10px; position: fixed; left: 70px; bottom: 10px;
    -webkit-animation:tipsMove 1s;
    -o-animation:tipsMove 1s;
    animation:tipsMove 1s;
}

.userTipsBox dl { line-height: 20px; font-size: 12px; border-bottom: 1px dashed #ffe3c1; color:#fff;}
.userTipsBox dl h1 { font-size: 14px; font-weight: bold;}
.userTipsBox dl span { padding: 0px 5px 0px 0px; font-size: 12px; font-weight: normal}
.userTipsBox dl dt { width: 60px; float:left; text-align: right; font-weight: bold}
.userTipsBox dl dd { width: 300px; float:left; text-align: left;}
.userTipsBox:after { content: ''; border-right: 20px solid #fca032; border-top: 10px solid transparent; border-bottom: 10px solid transparent; width: 0px;
height:0px; position: fixed; display: block; left:50px ; bottom: 30px;
    -webkit-animation:tipsMoveAfter 1s;
    -o-animation:tipsMoveAfter 1s;
    animation:tipsMoveAfter 1s;
}

@keyframes tipsMove {
    from{left:40px;opacity: 0}to{left:70px;opacity: 1}
}
@-moz-keyframes tipsMove {
    from{left:40px;opacity: 0}to{left:70px;opacity: 1}
}
@-webkit-keyframes tipsMove {
    from{left:40px;opacity: 0}to{left:70px;opacity: 1}
}
@-ms-keyframes tipsMove {
    from{left:40px;opacity: 0}to{left:70px;opacity: 1}
}
@keyframes tipsMoveAfter {
    from{left:20px;opacity: 0}to{left:50px;opacity: 1}
}
@-moz-keyframes tipsMoveAfter {
    from{left:20px;opacity: 0}to{left:50px;opacity: 1}
}
@-webkit-keyframes tipsMoveAfter {
    from{left:20px;opacity: 0}to{left:50px;opacity: 1}
}
@-ms-keyframes tipsMoveAfter {
    from{left:20px;opacity: 0}to{left:50px;opacity: 1}
}
